@using Krka.MoveOn.Services.Questionnaires
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Krka.MoveOn.Components.Pages.Components

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject General01Service Q01Service
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager

<div class="nav-buttons-sub-container _OngoingBtn">

    <DxFormLayout>
        <DxFormLayoutItem>
            <div class="buttons-group mb-2">
                <div class="d-flex flex-row w-100">
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Liečba Parkinsonovej choroby"
                              CssClass="@GetButtonCssClass("/ongoingQ/init")"
                              NavigateUrl="@GetNavigateUrl("/ongoingQ/init")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Zmena v liečbe pridružených problémov"
                              CssClass="@GetButtonCssClass("/ongoingQ/treat")"
                              NavigateUrl="@GetNavigateUrl("/ongoingQ/treat")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Nežiaduci účinok liečiva"
                              CssClass="@GetButtonCssClass("/ongoingQ/drugEffect")"
                              NavigateUrl="@GetNavigateUrl("/ongoingQ/drugEffect")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="MDS-UPDRS škála"
                              CssClass="@GetButtonCssClass("/ongoingQ/motor")"
                              NavigateUrl="@GetNavigateUrl("/ongoingQ/motor")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Hodnotenie spokojnosti s liečbou "
                              CssClass="@GetButtonCssClass("/ongoingQ/satisfaction")"
                              NavigateUrl="@GetNavigateUrl("/ongoingQ/satisfaction")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Predčasné vylúčenie"
                              CssClass="@GetButtonCssClass("/ongoingQ/exc")"
                              NavigateUrl="@GetNavigateUrl("/ongoingQ/exc")" />
                </div>
            </div>
        </DxFormLayoutItem>
    </DxFormLayout>
</div>

<ReturnLinkManager ReturnLink="/patients" />




@code
{
    private string currentId;
    private string currentUrl;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await SessionStorage.GetAsync<string>("currentId");
            if (result.Success && NavigationManager != null)
            {
                currentId = result.Value;
                currentUrl = NavigationManager.Uri; // Získaj aktuálnu URL
                StateHasChanged();
            }
        }
    }

    private string GetNavigateUrl(string baseUrl)
    {
        return $"{baseUrl}/{currentId}";
    }

    private string GetButtonCssClass(string url)
    {
        return currentUrl != null && currentUrl.Contains(url) ? "flex-fill me-2 rectangular-button active-button" : "flex-fill me-2 rectangular-button";
    }
}