@page "/entrybtn"

@using Krka.MoveOn.Data.Questionnaires
@using Krka.MoveOn.Services
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject Q01Service Q01Service

<PageTitle>EntryBtn</PageTitle>

<DxFormLayout CssClass="w-100">
    <DxFormLayoutItem>
        <div class="buttons-group mb-2">
            <div class="d-flex flex-row flex-wrap">
                <div class="me-2 mb-2">
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Detekcia príznakov"
                              CssClass="w-100 rectangular-button"
                              NavigateUrl="/entryQ/gen" />
                </div>
                <div class="me-2 mb-2">
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Začiatočná liečba"
                              CssClass="w-100 rectangular-button"
                              NavigateUrl="/entryQ/init" />
                </div>
                <div class="me-2 mb-2">
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Liečba pridružených problémov"
                              CssClass="w-100 rectangular-button"
                              NavigateUrl="/entryQ/treat" />
                </div>
            </div>
        </div>

    </DxFormLayoutItem>
</DxFormLayout>





@code {



}