@page "/entryQ/treat/"

@using Krka.MoveOn.Data.Questionnaires
@using Krka.MoveOn.Services
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject Q01Service Q01Service

<PageTitle>MoveOn - Liečba pridružených problémov </PageTitle>

<div>
    <_EntryBtn />
</div>

@* <DxFormLayout CssClass="w-100">
    <DxFormLayoutItem>
        <div class="buttons-group mb-2">
            <div class="d-flex flex-row flex-wrap">
                <div class="me-2 mb-2">
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Detekcia príznakovvv"
                              CssClass="w-100 rectangular-button"
                               />
                </div>
                <div class="me-2 mb-2">
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Detekcia príznakov"
                              CssClass="w-100 rectangular-button" />
                </div>
            </div>
        </div>
    </DxFormLayoutItem>
@*     <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
        <DxFormLayoutTabPage Caption="Detekcia príznakov">       
            <DxFormLayoutItem Caption="Hire Date:" >
                <DxDateEdit @bind-Date="@q1.Gen_1" ShowValidationIcon="true" />
                <
            </DxFormLayoutItem>
        </DxFormLayoutTabPage>
        <DxFormLayoutTabPage Caption="Začiatočná liečba">
        </DxFormLayoutTabPage>
        <DxFormLayoutTabPage Caption="Liečba pridružených problémov">
            <!-- Obsah pre Liečba pridružených problémov -->
        </DxFormLayoutTabPage>
        <DxFormLayoutTabPage Caption="Modifikovaná škála podľa Hoehenovej a Yahra">
            <!-- Obsah pre Modifikovaná škála podľa Hoehenovej a Yahra -->
        </DxFormLayoutTabPage>
        <DxFormLayoutTabPage Caption="MOCA">
            <!-- Obsah pre MOCA -->
        </DxFormLayoutTabPage>
        <DxFormLayoutTabPage Caption="Údaje o predčasnom vylúčení">
            <!-- Obsah pre Údaje o predčasnom vylúčení -->
        </DxFormLayoutTabPage>
    </DxFormLayoutTabPages> 
</DxFormLayout> *@

<div>
    <h1>MoveOn - Liečba pridružených problémov </h1>
</div>



@code {

}