@using Servier.Pressure.Components.Account.Shared
@using Servier.Pressure.Data.Models
@using Servier.Pressure.Data.Lists
@using Servier.Pressure.Services.Pages

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject QuestionnaireService QuestionnaireService
@inject IToastNotificationService ToastService

@if (DemographyHistoryQuestionaire == null)
{
    <p><em>Načítavanie...</em></p>
}
else
{
    <StatusMessage Message="@Message" />
    <EditForm Model="@DemographyHistoryQuestionaire" Context="EditFormContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutGroup Caption="Demografia" ColSpanMd="12" CaptionCssClass="caption-styleH0">
                <DxFormLayoutItem Caption="Pohlavie" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@Gender" @bind-Value="@IsMan" TextFieldName="DisplayText" ValueFieldName="Value" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Rok narodenia" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxSpinEdit @bind-Value="@Age" Min="1900" Max="@DateTime.Now.Year" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Fajčenie" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@SmokerOptions" @bind-Value="@Smoker" TextFieldName="DisplayText" ValueFieldName="Value" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Najvyššie dosiahnuté vzdelanie" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@EducationOptions" @bind-Value="@Education" TextFieldName="DisplayText" ValueFieldName="Value" />
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayout>
    </EditForm>
}

@code {
    [Parameter]
    public required string patientId { get; set; }
    public Data.Models.DemographyHistory? DemographyHistoryQuestionaire { get; set; }
    private string? Message;

    // public Data.Models.DemographyHistory? DemographyHistoryQuestionary { get; set; } = new()
    //     {
    //         Id = string.Empty,
    //         IsMan = true,
    //         Age = DemographyHistoryQuestionary.Age,
    //         Smoker = true,
    //         Education = true,
    //         DiagnosisYear = true,
    //         DiagnosisYearUnknown = true,
    //         TreatmentYear = true,
    //         TreatmentYearUnknown = true,
    //         DiagnosisNone = true,
    //         DiagnosisDiabetes = true,
    //         DiagnosisDiabetesType = true,
    //         DiagnosisDyslipidemia = true,
    //         DiagnosisDyslipidemiaDrug = true,
    //         DiagnosisICHSInfarction = true,
    //         DiagnosisICHSAngina = true,
    //         DiagnosisICHSAngiography = true,
    //         DiagnosisICHSAngiographyType = true,
    //         DiagnosisICHSRevascularization = true,
    //         DiagnosisICHSRevascularizationType = true,
    //         DiagnosisHeartFailure = true,
    //         DiagnosisFibrillation = true,
    //         DiagnosisStroke = true,
    //         DiagnosisArterialD = true,
    //         DiagnosisInsufficiency = true,
    //         DiagnosisKidneyD = true,
    //         DiagnosisKidneyDType = true,
    //         ModifiedAt = DateTime.Now,
    //         CreatedAt = DateTime.Now,
    //     };

    private IEnumerable<GenderOption> Gender { get; set; } = new List<GenderOption>
    {
        new GenderOption { DisplayText = "Muž", Value = true },
        new GenderOption { DisplayText = "Žena", Value = false }
    };
    public class GenderOption
    {
        public string DisplayText { get; set; }
        public bool Value { get; set; }
    };

    public class Option<T>
    {
        public string DisplayText { get; set; }
        public T Value { get; set; }
    };

    private bool IsMan
    {
        get => DemographyHistoryQuestionaire!.IsMan;
        set
        {
            if (DemographyHistoryQuestionaire!.IsMan != value)
            {
                DemographyHistoryQuestionaire!.IsMan = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private int Age
    {
        get => DemographyHistoryQuestionaire!.Age;
        set
        {
            if (DemographyHistoryQuestionaire!.Age != value)
            {
                DemographyHistoryQuestionaire!.Age = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private SmokerEnum Smoker
    {
        get => DemographyHistoryQuestionaire!.Smoker;
        set
        {
            if (DemographyHistoryQuestionaire!.Smoker != value)
            {
                DemographyHistoryQuestionaire!.Smoker = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private EducationEnum Education
    {
        get => DemographyHistoryQuestionaire!.Education;
        set
        {
            if (DemographyHistoryQuestionaire!.Education != value)
            {
                DemographyHistoryQuestionaire!.Education = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }

    private List<Option<SmokerEnum>> SmokerOptions => Enum.GetValues(typeof(SmokerEnum))
        .Cast<SmokerEnum>()
        .Select(e => new Option<SmokerEnum> { Value = e, DisplayText = e.ToString() })
        .ToList();

    private List<Option<EducationEnum>> EducationOptions => Enum.GetValues(typeof(EducationEnum))
        .Cast<EducationEnum>()
        .Select(e => new Option<EducationEnum> { Value = e, DisplayText = e.ToString() })
        .ToList();
    private System.Timers.Timer? debounceTimer;
    private async Task OnFieldChangedAsync()
    {
        // Ak existuje starý timer, zastaviť ho
        debounceTimer?.Stop();

        // Nový timer na 1 sekundu
        debounceTimer = new System.Timers.Timer(1000);
        debounceTimer.AutoReset = false;
        debounceTimer.Elapsed += async (s, e) =>
        {
            var result = await QuestionnaireService.SaveDemographyHistoryQuestionaryAsync(DemographyHistoryQuestionaire!);
            if (!result.Success)
                Message = string.Format("Chyba: {0} {1}", result.ErrorMessage, result.AdditionalInfo);
            else
                ModifyToast();
        };
        debounceTimer.Start();

        // Await the timer to avoid CS1998 warning
        await Task.CompletedTask;
    }
    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Údaje úspešne aktualizované",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            DemographyHistoryQuestionaire = await QuestionnaireService.GetDemographyHistoryByIdAsync(patientId);
            await InvokeAsync(StateHasChanged);
        }
    }
}
