@using System.ComponentModel.DataAnnotations
@using Servier.Pressure.Components.Account.Shared
@using Servier.Pressure.Data.Models
@using Servier.Pressure.Data.Lists
@using Servier.Pressure.Helpers
@using Servier.Pressure.Services.Pages

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject QuestionnaireService QuestionnaireService
@inject IToastNotificationService ToastService

@if (DemographyHistoryQuestionaire == null)
{
    <p><em>Načítavanie...</em></p>
}
else
{
    <StatusMessage Message="@Message" />
    <EditForm Model="@DemographyHistoryQuestionaire" Context="EditFormContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutGroup Caption="Demografia" ColSpanMd="12" CaptionCssClass="caption-styleH0">
                <DxFormLayoutItem Caption="pohlavie" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@Gender" @bind-Value="@IsMan" TextFieldName="DisplayText" ValueFieldName="Value" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="rok narodenia" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxMaskedInput @bind-Value="@Age" Mask="9999" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="fajčenie" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@SmokerOptions" @bind-Value="@Smoker" TextFieldName="DisplayText" ValueFieldName="Value" />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="najvyššie dosiahnuté vzdelanie" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@EducationOptions" @bind-Value="@Education" TextFieldName="DisplayText" ValueFieldName="Value" />
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
            <DxFormLayoutGroup Caption="Anamnéza" ColSpanMd="12" CaptionCssClass="caption-styleH0">
                <DxFormLayoutGroup Caption="Artériová hypertenzia" ColSpanMd="12">
                    <DxFormLayoutItem Caption="rok stanovenia diagnózy" ColSpanMd="6" CaptionCssClass="caption-styleH1">
                        <DxMaskedInput @bind-Value="@DiagnosisYear" Mask="9999" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="6">
                        <DxCheckBox @bind-Checked="@DiagnosisYearUnknown">neznámy</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="rok zahájenia liečby" ColSpanMd="6" CaptionCssClass="caption-styleH1">
                        <DxMaskedInput @bind-Value="@TreatmentYear" Mask="9999" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="6">
                        <DxCheckBox @bind-Checked="@TreatmentYearUnknown">neznámy</DxCheckBox>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
                <DxFormLayoutGroup Caption="Iné relevantné diagnózy a stavy prítomné už pred zaradením do štúdie" ColSpanMd="12">
                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                        <p><strong>Z uvedených možností prosím vyberte všetky relevantné diagnózy a stavy prítomné už pred zaradením subjektu do štúdie.</strong></p>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisNone">žiadne</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="6" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisDiabetes">diabetes mellitus</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="6" Caption="prosím špecifikujte" CaptionCssClass="caption-styleH1" Visible="@DiagnosisDiabetes">
                        <DxComboBox Data="@DiabetesTypes" @bind-Value="@DiagnosisDiabetesType" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1" BeginRow="true">
                        <DxCheckBox @bind-Checked="@DiagnosisDyslipidemia">dyslipidémia</DxCheckBox>
                    </DxFormLayoutItem>
                    @* <DxFormLayoutItem Caption="prosím špecifikujte" ColSpanMd="6" CaptionCssClass="caption-styleH1" Visible="@DiagnosisDyslipidemia">
                        <DxComboBox Data="@DyslipidemiaDrugs" @bind-Value="@DiagnosisDyslipidemiaDrug" TextFieldName="Name" ValueFieldName="Id" />
                    </DxFormLayoutItem> *@
                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisICHS">ischemická choroba srdca, prosím vyberte príslušné možnosti</DxCheckBox>
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="1" CaptionCssClass="caption-styleH1" Visible="@DiagnosisICHS" />
                    <DxFormLayoutItem ColSpanMd="11" CaptionCssClass="caption-styleH1" Visible="@DiagnosisICHS">
                        <DxCheckBox @bind-Checked="@DiagnosisICHSInfarction">predchádzajúci infarkt myokardu</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="1" CaptionCssClass="caption-styleH1" Visible="@DiagnosisICHS" />
                    <DxFormLayoutItem ColSpanMd="11" CaptionCssClass="caption-styleH1" Visible="@DiagnosisICHS">
                        <DxCheckBox @bind-Checked="@DiagnosisICHSAngina">angina pectoris</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="1" CaptionCssClass="caption-styleH1" BeginRow="true" Visible="@DiagnosisICHS" />
                    <DxFormLayoutItem ColSpanMd="5" CaptionCssClass="caption-styleH1" Visible="@DiagnosisICHS">
                        <DxCheckBox @bind-Checked="@DiagnosisICHSAngiography">pozitívny angiografický nález(y)</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="prosím špecifikujte" ColSpanMd="6" CaptionCssClass="caption-styleH1" Visible="@IsAngiopraphy">
                        <DxComboBox Data="@AngiographyOptions" @bind-Value="@DiagnosisICHSAngiographyType" TextFieldName="DisplayText" ValueFieldName="Value" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="1" CaptionCssClass="caption-styleH1" BeginRow="true" Visible="@DiagnosisICHS" />
                    <DxFormLayoutItem ColSpanMd="5" CaptionCssClass="caption-styleH1" Visible="@DiagnosisICHS">
                        <DxCheckBox @bind-Checked="@DiagnosisICHSRevascularization">predchádzajúca re-vaskularizácia</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="prosím špecifikujte" ColSpanMd="6" CaptionCssClass="caption-styleH1" Visible="@IsRevascularization">
                        <DxComboBox Data="@RevascularizationOptions" @bind-Value="@DiagnosisICHSRevascularizationType" TextFieldName="DisplayText" ValueFieldName="Value" />
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisHeartFailure">srdcové zlyhanie</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisFibrillation">fibrilácia predsiení</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisStroke">predchádzajúca cievna mozková príhoda a/alebo TIA</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisArterialD">periférne artériové ochorenie (PAD)</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisInsufficiency">chronická venózna insuficiencia</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="6" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@DiagnosisKidneyD">chronické ochorenie obličiek</DxCheckBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="prosím špecifikujte" ColSpanMd="6" CaptionCssClass="caption-styleH1" Visible="@DiagnosisKidneyD">
                        <DxComboBox Data="@KidneyDiseaseOptions" @bind-Value="@DiagnosisKidneyDType" TextFieldName="DisplayText" ValueFieldName="Value" />
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
            </DxFormLayoutGroup>
        </DxFormLayout>
    </EditForm>
}

@code {
    [Parameter]
    public required string patientId { get; set; }
    public Data.Models.DemographyHistory? DemographyHistoryQuestionaire { get; set; }
    private string? Message;
    private IEnumerable<GenderOption> Gender { get; set; } = new List<GenderOption>
    {
        new GenderOption { DisplayText = "Muž", Value = true },
        new GenderOption { DisplayText = "Žena", Value = false }
    };
    public class GenderOption
    {
        public string DisplayText { get; set; }
        public bool Value { get; set; }
    };

    public class Option<T>
    {
        public string DisplayText { get; set; }
        public T Value { get; set; }
    };
    private List<Option<SmokerEnum>> SmokerOptions => Enum.GetValues(typeof(SmokerEnum))
        .Cast<SmokerEnum>()
        .Select(e => new Option<SmokerEnum> { Value = e, DisplayText = e.GetAttribute<DisplayAttribute>()?.Name ?? e.ToString() })
        .ToList();
    private List<Option<EducationEnum>> EducationOptions => Enum.GetValues(typeof(EducationEnum))
        .Cast<EducationEnum>()
        .Select(e => new Option<EducationEnum> { Value = e, DisplayText = e.GetAttribute<DisplayAttribute>()?.Name ?? e.ToString() })
        .ToList();
    private List<Option<AngiographyEnum>> AngiographyOptions => Enum.GetValues(typeof(AngiographyEnum))
        .Cast<AngiographyEnum>()
        .Select(e => new Option<AngiographyEnum> { Value = e, DisplayText = e.GetAttribute<DisplayAttribute>()?.Name ?? e.ToString() })
        .ToList();
    private List<Option<RevascularizationEnum>> RevascularizationOptions => Enum.GetValues(typeof(RevascularizationEnum))
        .Cast<RevascularizationEnum>()
        .Select(e => new Option<RevascularizationEnum> { Value = e, DisplayText = e.GetAttribute<DisplayAttribute>()?.Name ?? e.ToString() })
        .ToList();
    private List<Option<KidneyDiseaseEnum>> KidneyDiseaseOptions => Enum.GetValues(typeof(KidneyDiseaseEnum))
        .Cast<KidneyDiseaseEnum>()
        .Select(e => new Option<KidneyDiseaseEnum> { Value = e, DisplayText = e.GetAttribute<DisplayAttribute>()?.Name ?? e.ToString() })
        .ToList();
    private IEnumerable<string> DiabetesTypes = new[] { "---", "typ 1", "typ 2" };
    private IEnumerable<DyslipidemiaDrug> DyslipidemiaDrugs { get; set; } = [];
    private bool IsAngiopraphy => DemographyHistoryQuestionaire!.DiagnosisICHS & DemographyHistoryQuestionaire!.DiagnosisICHSAngiography;
    private bool IsRevascularization => DemographyHistoryQuestionaire!.DiagnosisICHS & DemographyHistoryQuestionaire!.DiagnosisICHSRevascularization;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            DyslipidemiaDrugs = await QuestionnaireService.GetDyslipidemiaDrugsAsync();

            DemographyHistoryQuestionaire = await QuestionnaireService.GetDemographyHistoryByIdAsync(patientId);
            await InvokeAsync(StateHasChanged);
        }
    }

    private System.Timers.Timer? debounceTimer;
    private async Task OnFieldChangedAsync()
    {
        // Ak existuje starý timer, zastaviť ho
        debounceTimer?.Stop();

        // Nový timer na 1 sekundu
        debounceTimer = new System.Timers.Timer(1000);
        debounceTimer.AutoReset = false;
        debounceTimer.Elapsed += async (s, e) =>
        {
            var result = await QuestionnaireService.SaveDemographyHistoryQuestionaryAsync(DemographyHistoryQuestionaire!);
            if (!result.Success)
                Message = string.Format("Chyba: {0} {1}", result.ErrorMessage, result.AdditionalInfo);
            else
                ModifyToast();
        };
        debounceTimer.Start();

        // Await the timer to avoid CS1998 warning
        await Task.CompletedTask;
    }

    private bool IsMan
    {
        get => DemographyHistoryQuestionaire!.IsMan;
        set
        {
            if (DemographyHistoryQuestionaire!.IsMan != value)
            {
                DemographyHistoryQuestionaire!.IsMan = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string Age
    {
        get => DemographyHistoryQuestionaire?.Age.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (DemographyHistoryQuestionaire!.Age != newValue)
            {
                DemographyHistoryQuestionaire!.Age = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private SmokerEnum Smoker
    {
        get => DemographyHistoryQuestionaire!.Smoker;
        set
        {
            if (DemographyHistoryQuestionaire!.Smoker != value)
            {
                DemographyHistoryQuestionaire!.Smoker = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private EducationEnum Education
    {
        get => DemographyHistoryQuestionaire!.Education;
        set
        {
            if (DemographyHistoryQuestionaire!.Education != value)
            {
                DemographyHistoryQuestionaire!.Education = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string DiagnosisYear
    {
        get => DemographyHistoryQuestionaire?.DiagnosisYear.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (DemographyHistoryQuestionaire!.DiagnosisYear != newValue)
            {
                DemographyHistoryQuestionaire!.DiagnosisYear = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisYearUnknown
    {
        get => DemographyHistoryQuestionaire!.DiagnosisYearUnknown;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisYearUnknown != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisYearUnknown = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string TreatmentYear
    {
        get => DemographyHistoryQuestionaire?.TreatmentYear.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (DemographyHistoryQuestionaire!.TreatmentYear != newValue)
            {
                DemographyHistoryQuestionaire!.TreatmentYear = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool TreatmentYearUnknown
    {
        get => DemographyHistoryQuestionaire!.TreatmentYearUnknown;
        set
        {
            if (DemographyHistoryQuestionaire!.TreatmentYearUnknown != value)
            {
                DemographyHistoryQuestionaire!.TreatmentYearUnknown = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisNone
    {
        get => DemographyHistoryQuestionaire!.DiagnosisNone;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisNone != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisNone = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisDiabetes
    {
        get => DemographyHistoryQuestionaire!.DiagnosisDiabetes;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisDiabetes != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisDiabetes = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string DiagnosisDiabetesType
    {
        get
        {
            switch (DemographyHistoryQuestionaire!.DiagnosisDiabetesType)
            {
                case 1:
                    return "typ 1";
                case 2:
                    return "typ 2";
                default:
                    return "---";
            }
        }
        set
        {
            int type = 0;
            switch (value)
            {
                case "typ 1":
                    type = 1;
                    break;
                case "typ 2":
                    type = 2;
                    break;
                default:
                    type = 0;
                    break;
            }
            if (DemographyHistoryQuestionaire!.DiagnosisDiabetesType != type)
            {
                DemographyHistoryQuestionaire!.DiagnosisDiabetesType = type;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisDyslipidemia
    {
        get => DemographyHistoryQuestionaire!.DiagnosisDyslipidemia;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisDyslipidemia != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisDyslipidemia = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private int DiagnosisDyslipidemiaDrug
    {
        get => DemographyHistoryQuestionaire!.DiagnosisDyslipidemiaDrug;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisDyslipidemiaDrug != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisDyslipidemiaDrug = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisICHS
    {
        get => DemographyHistoryQuestionaire!.DiagnosisICHS;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisICHS != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisICHS = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisICHSInfarction
    {
        get => DemographyHistoryQuestionaire!.DiagnosisICHSInfarction;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisICHSInfarction != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisICHSInfarction = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisICHSAngina
    {
        get => DemographyHistoryQuestionaire!.DiagnosisICHSAngina;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisICHSAngina != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisICHSAngina = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisICHSAngiography
    {
        get => DemographyHistoryQuestionaire!.DiagnosisICHSAngiography;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisICHSAngiography != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisICHSAngiography = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private AngiographyEnum DiagnosisICHSAngiographyType
    {
        get => DemographyHistoryQuestionaire!.DiagnosisICHSAngiographyType;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisICHSAngiographyType != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisICHSAngiographyType = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisICHSRevascularization
    {
        get => DemographyHistoryQuestionaire!.DiagnosisICHSRevascularization;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisICHSRevascularization != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisICHSRevascularization = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private RevascularizationEnum DiagnosisICHSRevascularizationType
    {
        get => DemographyHistoryQuestionaire!.DiagnosisICHSRevascularizationType;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisICHSRevascularizationType != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisICHSRevascularizationType = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisHeartFailure
    {
        get => DemographyHistoryQuestionaire!.DiagnosisHeartFailure;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisHeartFailure != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisHeartFailure = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisFibrillation
    {
        get => DemographyHistoryQuestionaire!.DiagnosisFibrillation;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisFibrillation != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisFibrillation = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisStroke
    {
        get => DemographyHistoryQuestionaire!.DiagnosisStroke;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisStroke != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisStroke = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisArterialD
    {
        get => DemographyHistoryQuestionaire!.DiagnosisArterialD;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisArterialD != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisArterialD = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisInsufficiency
    {
        get => DemographyHistoryQuestionaire!.DiagnosisInsufficiency;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisInsufficiency != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisInsufficiency = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool DiagnosisKidneyD
    {
        get => DemographyHistoryQuestionaire!.DiagnosisKidneyD;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisKidneyD != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisKidneyD = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private KidneyDiseaseEnum DiagnosisKidneyDType
    {
        get => DemographyHistoryQuestionaire!.DiagnosisKidneyDType;
        set
        {
            if (DemographyHistoryQuestionaire!.DiagnosisKidneyDType != value)
            {
                DemographyHistoryQuestionaire!.DiagnosisKidneyDType = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }

    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Údaje úspešne aktualizované",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }
}
