@using Servier.Pressure.Components.Account.Shared
@using Servier.Pressure.Data.Models
@using Servier.Pressure.Data.Lists
@using Servier.Pressure.Helpers
@using Servier.Pressure.Services.Pages

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject QuestionnaireService QuestionnaireService
@inject IToastNotificationService ToastService
@inject AppState AppState

@if (TreatmentBefore == null)
{
    <p><em>Načítavanie...</em></p>
}
else
{
    <EditForm Model="@TreatmentBefore" Context="EditFormContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutGroup Caption="Manažment dyslipidémie" ColSpanMd="12" CaptionCssClass="caption-styleH0">
                <DxFormLayoutItem Caption="Farmakoterapia dyslipidémie" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxListBox Data="@DyslipidemiaDrugs" TextFieldName="Name" ValueFieldName="Id" SelectionMode="ListBoxSelectionMode.Multiple"
                               ShowCheckboxes="true" @bind-Values="@SelectedDrugIds">
                    </DxListBox>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
            <DxFormLayoutGroup Caption="Manažment artériovej hypertenzie" ColSpanMd="12" CaptionCssClass="caption-styleH0">
                <DxFormLayoutItem Caption="Prosím, uveďte všetkých lekárov zapojených do manažmentu hypertenzie subjektu (možnosť výberu viacerých možností)" ColSpanMd="12" CaptionCssClass="caption-styleH1 long-captionp">
                    <Template>
                        <DxCheckBox @bind-Checked="@GeneralPractitioner">všeobecný lekár</DxCheckBox>
                        <DxCheckBox @bind-Checked="@Diabetologist">diabetológ</DxCheckBox>
                        <DxCheckBox @bind-Checked="@Geriatrician">geriater</DxCheckBox>
                        <DxCheckBox @bind-Checked="@Internist">internista</DxCheckBox>
                        <DxCheckBox @bind-Checked="@Cardiologist">kardiológ</DxCheckBox>
                        <DxTextBox @bind-Text="@Other" NullText="iný" />
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayout>
    </EditForm>
    <StatusMessage Message="@Message" />
}

@code {
    [Parameter]
    public required string patientId { get; set; }

    private TreatmentBefore? TreatmentBefore { get; set; }
    private IEnumerable<DyslipidemiaDrug> DyslipidemiaDrugs { get; set; } = [];
    private List<int> DiagnosisDyslipidemiaDrugIds = [];
    private string? Message;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AppState.TreatmentChanged = true;
            // list of stored DyslipidemiaDrugs
            DyslipidemiaDrugs = await QuestionnaireService.GetDyslipidemiaDrugsAsync();
            // load treatment object
            var entity = await QuestionnaireService.GetTreatmentBeforeAsync(patientId);
            if (entity != null)
                TreatmentBefore = entity;
            else
                TreatmentBefore = new() { Id = patientId, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };

            // load DyslipidemiaDrugs for this treatment
            var drugs = await QuestionnaireService.GetTreatmentDyslipidemiaDrugsAsync(patientId);
            DiagnosisDyslipidemiaDrugIds = drugs.Select(i => i.DrugId).ToList();

            await InvokeAsync(StateHasChanged);
        }
    }

    private System.Timers.Timer? debounceTimer;
    private async Task OnFieldChangedAsync()
    {
        // Ak existuje starý timer, zastaviť ho
        debounceTimer?.Stop();

        // Nový timer na 1 sekundu
        debounceTimer = new System.Timers.Timer(1000);
        debounceTimer.AutoReset = false;
        debounceTimer.Elapsed += async (s, e) =>
        {
            var result = await QuestionnaireService.SaveTreatmentBeforeAsync(TreatmentBefore!);
            if (!result.Success)
                Message = string.Format("Chyba: {0} {1}", result.ErrorMessage, result.AdditionalInfo);
            else
                ModifyToast();
        };
        debounceTimer.Start();

        // Await the timer to avoid CS1998 warning
        await Task.CompletedTask;
    }
    private System.Timers.Timer? debounceDyslipidemiaTimer;
    private async Task OnDyslipidemiaChangedAsync()
    {
        // Ak existuje starý timer, zastaviť ho
        debounceDyslipidemiaTimer?.Stop();

        // Nový timer na 1 sekundu
        debounceDyslipidemiaTimer = new System.Timers.Timer(1000);
        debounceDyslipidemiaTimer.AutoReset = false;
        debounceDyslipidemiaTimer.Elapsed += async (s, e) =>
        {
            var result = await QuestionnaireService.SaveTreatmentDyslipidemiaDrugsAsync(patientId, DiagnosisDyslipidemiaDrugIds);
            if (!result.Success)
                Message = string.Format("Chyba: {0} {1}", result.ErrorMessage, result.AdditionalInfo);
            else
                ModifyToast();
        };
        debounceDyslipidemiaTimer.Start();

        // Await the timer to avoid CS1998 warning
        await Task.CompletedTask;
    }

    private int DiagnosisDyslipidemiaDrug
    {
        get => TreatmentBefore!.DiagnosisDyslipidemiaDrug;
        set
        {
            if (TreatmentBefore!.DiagnosisDyslipidemiaDrug != value)
            {
                TreatmentBefore!.DiagnosisDyslipidemiaDrug = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private IEnumerable<int> SelectedDrugIds
    {
        get => DiagnosisDyslipidemiaDrugIds;
        set
        {
            DiagnosisDyslipidemiaDrugIds = value.ToList();
            InvokeAsync(OnDyslipidemiaChangedAsync);
        }
    }
    private bool GeneralPractitioner
    {
        get => TreatmentBefore!.GeneralPractitioner;
        set
        {
            if (TreatmentBefore!.GeneralPractitioner != value)
            {
                TreatmentBefore!.GeneralPractitioner = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool Diabetologist
    {
        get => TreatmentBefore!.Diabetologist;
        set
        {
            if (TreatmentBefore!.Diabetologist != value)
            {
                TreatmentBefore!.Diabetologist = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool Geriatrician
    {
        get => TreatmentBefore!.Geriatrician;
        set
        {
            if (TreatmentBefore!.Geriatrician != value)
            {
                TreatmentBefore!.Geriatrician = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool Internist
    {
        get => TreatmentBefore!.Internist;
        set
        {
            if (TreatmentBefore!.Internist != value)
            {
                TreatmentBefore!.Internist = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool Cardiologist
    {
        get => TreatmentBefore!.Cardiologist;
        set
        {
            if (TreatmentBefore!.Cardiologist != value)
            {
                TreatmentBefore!.Cardiologist = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string? Other
    {
        get => TreatmentBefore!.Other;
        set
        {
            if (TreatmentBefore!.Other != value)
            {
                TreatmentBefore!.Other = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }

    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Údaje úspešne aktualizované",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }
}
