@using Servier.Pressure.Components.Account.Shared
@using Servier.Pressure.Data.Models
@using Servier.Pressure.Data.Lists
@using Servier.Pressure.Services.Pages

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject QuestionnaireService QuestionnaireService
@inject IToastNotificationService ToastService

@if (PhysicalExamination == null)
{
    <p><em>Načítavanie...</em></p>
}
else
{
    <EditForm Model="@PhysicalExamination" Context="EditFormContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutGroup Caption="Fyzikálne vyšetrenie" ColSpanMd="12" CaptionCssClass="caption-styleH0">
                <DxFormLayoutGroup Caption="Použitý tlakomer (možnosť zadať merania na oboch zariadeniach)" ColSpanMd="12">
                    <DxFormLayoutItem Caption="lekára / ambulantný (na oddelení/klinike)" ColSpanMd="6" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@AmbulatoryMonitor" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="zapožičaný subjektu" ColSpanMd="6" CaptionCssClass="caption-styleH1">
                        <DxCheckBox @bind-Checked="@BorrowedMonitor" />
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
                @if (AmbulatoryMonitor)
                {
                    <DxFormLayoutGroup Caption="Tlak krvi a pulz - ambulantný tlakomer (merané na návšteve 2)" ColSpanMd="12">
                        <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                            <Template>
                                <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@Hands" @bind-Value="@AmbulatoryHand" />
                                <p><i><strong>Poznámka:</strong> Prosím, uvádzajte hodnoty namerané na ruke s vyšším krvným tlakom.</i></p>
                            </Template>
                        </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                            <DxFormLayoutItem Caption="1. meranie" ColSpanMd="8" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="nevyšetrené" ColSpanMd="4" CaptionCssClass="caption-styleH1 long-caption">
                            <DxCheckBox @bind-Checked="@AmbulatoryMeasurement1" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="tlak krvi" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement1Stk" Mask="999" />
                                    <span>/</span>
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement1Dtk" Mask="999" />
                                    <span> mmHg</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="pulz" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement1Sf" Mask="999" />
                                    <span> úderov za minútu</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="2. meranie" ColSpanMd="8" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="nevyšetrené" ColSpanMd="4" CaptionCssClass="caption-styleH1 long-caption">
                            <DxCheckBox @bind-Checked="@AmbulatoryMeasurement2" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="tlak krvi" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement2Stk" Mask="999" />
                                    <span>/</span>
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement2Dtk" Mask="999" />
                                    <span> mmHg</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="pulz" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement2Sf" Mask="999" />
                                    <span> úderov za minútu</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="3. meranie" ColSpanMd="8" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="nevyšetrené" ColSpanMd="4" CaptionCssClass="caption-styleH1 long-caption">
                            <DxCheckBox @bind-Checked="@AmbulatoryMeasurement3" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="tlak krvi" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement3Stk" Mask="999" />
                                    <span>/</span>
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement3Dtk" Mask="999" />
                                    <span> mmHg</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="pulz" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@AmbulatoryMeasurement3Sf" Mask="999" />
                                    <span> úderov za minútu</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Priemerný tlak krvi" ColSpanMd="8" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@AmbulatoryMeasurementStk / @AmbulatoryMeasurementDtk mmHg</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">z meraní č. 2 a 3</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Priemerný pulz" ColSpanMd="8" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@AmbulatoryMeasurementSf úderov za minútu</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">z meraní č. 2 a 3</span></DxFormLayoutItem>
                    </DxFormLayoutGroup>
                }
                @if (BorrowedMonitor)
                {
                    <DxFormLayoutGroup Caption="Tlak krvi a pulz - tlakomer zapožičaný subjektu (merané na návšteve 2)" ColSpanMd="12">
                        <DxFormLayoutItem ColSpanMd="12" CaptionCssClass="caption-styleH1">
                            <Template>
                                <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@Hands" @bind-Value="@BorrowedHand" />
                                <p><i><strong>Poznámka:</strong> Prosím, uvádzajte hodnoty namerané na ruke s vyšším krvným tlakom.</i></p>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="1. meranie" ColSpanMd="8" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="nevyšetrené" ColSpanMd="4" CaptionCssClass="caption-styleH1 long-caption">
                            <DxCheckBox @bind-Checked="@BorrowedMeasurement1" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="tlak krvi" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement1Stk" Mask="999" />
                                    <span>/</span>
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement1Dtk" Mask="999" />
                                    <span> mmHg</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="pulz" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement1Sf" Mask="999" />
                                    <span> úderov za minútu</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="2. meranie" ColSpanMd="8" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="nevyšetrené" ColSpanMd="4" CaptionCssClass="caption-styleH1 long-caption">
                            <DxCheckBox @bind-Checked="@BorrowedMeasurement2" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="tlak krvi" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement2Stk" Mask="999" />
                                    <span>/</span>
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement2Dtk" Mask="999" />
                                    <span> mmHg</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="pulz" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement2Sf" Mask="999" />
                                    <span> úderov za minútu</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="3. meranie" ColSpanMd="8" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="nevyšetrené" ColSpanMd="4" CaptionCssClass="caption-styleH1 long-caption">
                            <DxCheckBox @bind-Checked="@BorrowedMeasurement3" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="tlak krvi" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement3Stk" Mask="999" />
                                    <span>/</span>
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement3Dtk" Mask="999" />
                                    <span> mmHg</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="1" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="pulz" ColSpanMd="7" CaptionCssClass="caption-styleH1 long-caption">
                            <Template>
                                <div class="d-flex align-items-center gap-2">
                                    <DxMaskedInput @bind-Value="@BorrowedMeasurement3Sf" Mask="999" />
                                    <span> úderov za minútu</span>
                                </div>
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1"></DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Priemerný tlak krvi" ColSpanMd="8" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@BorrowedMeasurementStk / @BorrowedMeasurementDtk mmHg</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">z meraní č. 2 a 3</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Priemerný pulz" ColSpanMd="8" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@BorrowedMeasurementSf úderov za minútu</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="4" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">z meraní č. 2 a 3</span></DxFormLayoutItem>
                    </DxFormLayoutGroup>
                }
            </DxFormLayoutGroup>
        </DxFormLayout>
    </EditForm>
    <StatusMessage Message="@Message" />
}

@code {
    [Parameter]
    public required string patientId { get; set; }

    private PhysicalExamination2? PhysicalExamination { get; set; }
    private IEnumerable<string> Hands = new[] { "pravá ruka", "ľavá ruka" };
    private string? Message;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            PhysicalExamination = await QuestionnaireService.GetPhysicalExamination2ByIdAsync(patientId);
            await InvokeAsync(StateHasChanged);
        }
    }

    private System.Timers.Timer? debouncePETimer;
    private async Task OnFieldChangedAsync()
    {
        // Ak existuje starý timer, zastaviť ho
        debouncePETimer?.Stop();

        // Nový timer na 1 sekundu
        debouncePETimer = new System.Timers.Timer(1000);
        debouncePETimer.AutoReset = false;
        debouncePETimer.Elapsed += async (s, e) =>
        {
            var result = await QuestionnaireService.SavePhysicalExamination2Async(PhysicalExamination!);
            if (!result.Success)
                Message = string.Format("Chyba: {0} {1}", result.ErrorMessage, result.AdditionalInfo);
            else
                ModifyToast();
        };
        debouncePETimer.Start();

        // Await the timer to avoid CS1998 warning
        await Task.CompletedTask;
    }

    private bool AmbulatoryMonitor
    {
        get => PhysicalExamination!.AmbulatoryMonitor;
        set
        {
            if (PhysicalExamination!.AmbulatoryMonitor != value)
            {
                PhysicalExamination!.AmbulatoryMonitor = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryHand
    {
        get => (PhysicalExamination!.AmbulatoryHand == HandEnum.right) ? "pravá ruka" : "ľavá ruka";
        set
        {
            HandEnum hand = (value == "pravá ruka") ? HandEnum.right : HandEnum.left;
            if (PhysicalExamination!.AmbulatoryHand != hand)
            {
                PhysicalExamination!.AmbulatoryHand = hand;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool AmbulatoryMeasurement1
    {
        get => PhysicalExamination!.AmbulatoryMeasurement1;
        set
        {
            if (PhysicalExamination!.AmbulatoryMeasurement1 != value)
            {
                PhysicalExamination!.AmbulatoryMeasurement1 = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement1Stk
    {
        get => PhysicalExamination?.AmbulatoryMeasurement1Stk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement1Stk != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement1Stk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement1Dtk
    {
        get => PhysicalExamination?.AmbulatoryMeasurement1Dtk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement1Dtk != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement1Dtk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement1Sf
    {
        get => PhysicalExamination?.AmbulatoryMeasurement1Sf.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement1Sf != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement1Sf = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool AmbulatoryMeasurement2
    {
        get => PhysicalExamination!.AmbulatoryMeasurement2;
        set
        {
            if (PhysicalExamination!.AmbulatoryMeasurement2 != value)
            {
                PhysicalExamination!.AmbulatoryMeasurement2 = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement2Stk
    {
        get => PhysicalExamination?.AmbulatoryMeasurement2Stk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement2Stk != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement2Stk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement2Dtk
    {
        get => PhysicalExamination?.AmbulatoryMeasurement2Dtk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement2Dtk != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement2Dtk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement2Sf
    {
        get => PhysicalExamination?.AmbulatoryMeasurement2Sf.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement2Sf != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement2Sf = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool AmbulatoryMeasurement3
    {
        get => PhysicalExamination!.AmbulatoryMeasurement3;
        set
        {
            if (PhysicalExamination!.AmbulatoryMeasurement3 != value)
            {
                PhysicalExamination!.AmbulatoryMeasurement3 = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement3Stk
    {
        get => PhysicalExamination?.AmbulatoryMeasurement3Stk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement3Stk != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement3Stk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement3Dtk
    {
        get => PhysicalExamination?.AmbulatoryMeasurement3Dtk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement3Dtk != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement3Dtk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurement3Sf
    {
        get => PhysicalExamination?.AmbulatoryMeasurement3Sf.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.AmbulatoryMeasurement3Sf != newValue)
            {
                PhysicalExamination!.AmbulatoryMeasurement3Sf = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string AmbulatoryMeasurementStk
    {
        get
        {
            if (PhysicalExamination!.AmbulatoryMeasurement2Stk != 0 && PhysicalExamination!.AmbulatoryMeasurement3Stk != 0)
                return ((PhysicalExamination!.AmbulatoryMeasurement2Stk + PhysicalExamination!.AmbulatoryMeasurement3Stk) / 2m).ToString("F2");
            else if (PhysicalExamination!.AmbulatoryMeasurement2Stk != 0)
                return PhysicalExamination!.AmbulatoryMeasurement2Stk.ToString("F2");
            else
                return PhysicalExamination!.AmbulatoryMeasurement3Stk.ToString("F2");
        }
    }
    private string AmbulatoryMeasurementDtk
    {
        get
        {
            if (PhysicalExamination!.AmbulatoryMeasurement2Dtk != 0 && PhysicalExamination!.AmbulatoryMeasurement3Dtk != 0)
                return ((PhysicalExamination!.AmbulatoryMeasurement2Dtk + PhysicalExamination!.AmbulatoryMeasurement3Dtk) / 2m).ToString("F2");
            else if (PhysicalExamination!.AmbulatoryMeasurement2Dtk != 0)
                return PhysicalExamination!.AmbulatoryMeasurement2Dtk.ToString("F2");
            else
                return PhysicalExamination!.AmbulatoryMeasurement3Dtk.ToString("F2");
        }
    }
    private string AmbulatoryMeasurementSf
    {
        get
        {
            if (PhysicalExamination!.AmbulatoryMeasurement2Sf != 0 && PhysicalExamination!.AmbulatoryMeasurement3Sf != 0)
                return ((PhysicalExamination!.AmbulatoryMeasurement2Sf + PhysicalExamination!.AmbulatoryMeasurement3Sf) / 2m).ToString("F2");
            else if (PhysicalExamination!.AmbulatoryMeasurement2Sf != 0)
                return PhysicalExamination!.AmbulatoryMeasurement2Sf.ToString("F2");
            else
                return PhysicalExamination!.AmbulatoryMeasurement3Sf.ToString("F2");
        }
    }

    private bool BorrowedMonitor
    {
        get => PhysicalExamination!.BorrowedMonitor;
        set
        {
            if (PhysicalExamination!.BorrowedMonitor != value)
            {
                PhysicalExamination!.BorrowedMonitor = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedHand
    {
        get => (PhysicalExamination!.BorrowedHand == HandEnum.right) ? "pravá ruka" : "ľavá ruka";
        set
        {
            HandEnum hand = (value == "pravá ruka") ? HandEnum.right : HandEnum.left;
            if (PhysicalExamination!.BorrowedHand != hand)
            {
                PhysicalExamination!.BorrowedHand = hand;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool BorrowedMeasurement1
    {
        get => PhysicalExamination!.BorrowedMeasurement1;
        set
        {
            if (PhysicalExamination!.BorrowedMeasurement1 != value)
            {
                PhysicalExamination!.BorrowedMeasurement1 = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement1Stk
    {
        get => PhysicalExamination?.BorrowedMeasurement1Stk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement1Stk != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement1Stk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement1Dtk
    {
        get => PhysicalExamination?.BorrowedMeasurement1Dtk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement1Dtk != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement1Dtk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement1Sf
    {
        get => PhysicalExamination?.BorrowedMeasurement1Sf.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement1Sf != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement1Sf = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool BorrowedMeasurement2
    {
        get => PhysicalExamination!.BorrowedMeasurement2;
        set
        {
            if (PhysicalExamination!.BorrowedMeasurement2 != value)
            {
                PhysicalExamination!.BorrowedMeasurement2 = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement2Stk
    {
        get => PhysicalExamination?.BorrowedMeasurement2Stk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement2Stk != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement2Stk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement2Dtk
    {
        get => PhysicalExamination?.BorrowedMeasurement2Dtk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement2Dtk != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement2Dtk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement2Sf
    {
        get => PhysicalExamination?.BorrowedMeasurement2Sf.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement2Sf != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement2Sf = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private bool BorrowedMeasurement3
    {
        get => PhysicalExamination!.BorrowedMeasurement3;
        set
        {
            if (PhysicalExamination!.BorrowedMeasurement3 != value)
            {
                PhysicalExamination!.BorrowedMeasurement3 = value;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement3Stk
    {
        get => PhysicalExamination?.BorrowedMeasurement3Stk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement3Stk != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement3Stk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement3Dtk
    {
        get => PhysicalExamination?.BorrowedMeasurement3Dtk.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement3Dtk != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement3Dtk = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurement3Sf
    {
        get => PhysicalExamination?.BorrowedMeasurement3Sf.ToString() ?? string.Empty;
        set
        {
            int newValue = 0;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (PhysicalExamination!.BorrowedMeasurement3Sf != newValue)
            {
                PhysicalExamination!.BorrowedMeasurement3Sf = newValue;
                InvokeAsync(OnFieldChangedAsync);
            }
        }
    }
    private string BorrowedMeasurementStk
    {
        get
        {
            if (PhysicalExamination!.BorrowedMeasurement2Stk != 0 && PhysicalExamination!.BorrowedMeasurement3Stk != 0)
                return ((PhysicalExamination!.BorrowedMeasurement2Stk + PhysicalExamination!.BorrowedMeasurement3Stk) / 2m).ToString("F2");
            else if (PhysicalExamination!.BorrowedMeasurement2Stk != 0)
                return PhysicalExamination!.BorrowedMeasurement2Stk.ToString("F2");
            else
                return PhysicalExamination!.BorrowedMeasurement3Stk.ToString("F2");
        }
    }
    private string BorrowedMeasurementDtk
    {
        get
        {
            if (PhysicalExamination!.BorrowedMeasurement2Dtk != 0 && PhysicalExamination!.BorrowedMeasurement3Dtk != 0)
                return ((PhysicalExamination!.BorrowedMeasurement2Dtk + PhysicalExamination!.BorrowedMeasurement3Dtk) / 2m).ToString("F2");
            else if (PhysicalExamination!.BorrowedMeasurement2Dtk != 0)
                return PhysicalExamination!.BorrowedMeasurement2Dtk.ToString("F2");
            else
                return PhysicalExamination!.BorrowedMeasurement3Dtk.ToString("F2");
        }
    }
    private string BorrowedMeasurementSf
    {
        get
        {
            if (PhysicalExamination!.BorrowedMeasurement2Sf != 0 && PhysicalExamination!.BorrowedMeasurement3Sf != 0)
                return ((PhysicalExamination!.BorrowedMeasurement2Sf + PhysicalExamination!.BorrowedMeasurement3Sf) / 2m).ToString("F2");
            else if (PhysicalExamination!.BorrowedMeasurement2Sf != 0)
                return PhysicalExamination!.BorrowedMeasurement2Sf.ToString("F2");
            else
                return PhysicalExamination!.BorrowedMeasurement3Sf.ToString("F2");
        }
    }

    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Údaje úspešne aktualizované",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }
}
