@using Servier.Pressure.Components.Account.Shared
@using Servier.Pressure.Data.Models
@using Servier.Pressure.Data.Lists
@using Servier.Pressure.Services
@using Servier.Pressure.Services.Pages

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject QuestionnaireService QuestionnaireService
@inject IToastNotificationService ToastService
@inject SurveyProgressService ProgressService

@if (BloodPressureMonitor == null)
{
    <p><em>Načítavanie...</em></p>
}
else
{
    <StatusMessage Message="@Message" />
    <EditForm Model="@BloodPressureMonitor" Context="EditFormContext">
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutGroup Caption="Tlak krvi a pulz" ColSpanMd="12" CaptionCssClass="caption-styleH0">
                <DxFormLayoutItem Caption="Používaný tlakomer" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <Template>
                        <DxRadioGroup Layout="@RadioGroupLayout.Horizontal" Items="@Hands" @bind-Value="@IsOmronMonitorCase" />
                        <p><i><strong>Poznámka:</strong> Prosím, ak sú merania vykonané tlakomerom Omron, vložte číslo použitého tlakomeru.</i></p>
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Číslo Omron tlakomeru" ColSpanMd="12" CaptionCssClass="caption-styleH1">
                    <DxMaskedInput @bind-Value="@OmronNumber" Mask="23999" NullText="Zadajte číslo od 23001 do 23108" ReadOnly="@NotOmronMonitor" />
                </DxFormLayoutItem>
                @if (DayRecords == null)
                {
                    <p><em>Načítavanie...</em></p>
                }
                else
                {
                    <DxFormLayoutGroup Caption="Uvádzané hodnoty tlaku krvi a pulzu" ColSpanMd="12">
                        @foreach (var item in DayRecords)
                        {
                            <DxFormLayoutItem Caption="@item.DayNumber" ColSpanMd="12" CaptionCssClass="caption-styleH1b" />
                            <DxFormLayoutItem Caption="ráno" ColSpanMd="2" CaptionCssClass="caption-styleH1" CaptionPosition="CaptionPosition.Vertical" />
                            <DxFormLayoutItem Caption="tlak krvi" ColSpanMd="5" CaptionCssClass="caption-styleH1" CaptionPosition="CaptionPosition.Vertical">
                                <Template>
                                    <div class="d-flex flex-column gap-2">
                                        <div class="d-flex align-items-center gap-2">
                                            <DxMaskedInput @bind-Value="@item.Morning1Stk" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span>/</span>
                                            <DxMaskedInput @bind-Value="@item.Morning1Dtk" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span> mmHg</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <DxMaskedInput @bind-Value="@item.Morning2Stk" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span>/</span>
                                            <DxMaskedInput @bind-Value="@item.Morning2Dtk" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span> mmHg</span>
                                        </div>
                                    </div>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="pulz" ColSpanMd="5" CaptionCssClass="caption-styleH1" CaptionPosition="CaptionPosition.Vertical">
                                <Template>
                                    <div class="d-flex flex-column gap-2">
                                        <div class="d-flex align-items-center gap-2">
                                            <DxMaskedInput @bind-Value="@item.Morning1Sf" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span> úderov za minútu</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <DxMaskedInput @bind-Value="@item.Morning2Sf" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span> úderov za minútu</span>
                                        </div>
                                    </div>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="večer" ColSpanMd="2" CaptionCssClass="caption-styleH1" CaptionPosition="CaptionPosition.Vertical" />
                            <DxFormLayoutItem Caption="tlak krvi" ColSpanMd="5" CaptionCssClass="caption-styleH1" CaptionPosition="CaptionPosition.Vertical">
                                <Template>
                                    <div class="d-flex flex-column gap-2">
                                        <div class="d-flex align-items-center gap-2">
                                            <DxMaskedInput @bind-Value="@item.Evening1Stk" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span>/</span>
                                            <DxMaskedInput @bind-Value="@item.Evening1Dtk" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span> mmHg</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">

                                            <DxMaskedInput @bind-Value="@item.Evening2Stk" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span>/</span>
                                            <DxMaskedInput @bind-Value="@item.Evening2Dtk" Mask="999" ReadOnly="@IsOmronMonitor" />
                                            <span> mmHg</span>
                                        </div>
                                    </div>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="pulz" ColSpanMd="5" CaptionCssClass="caption-styleH1" CaptionPosition="CaptionPosition.Vertical">
                                <Template>
                                    <div class="d-flex flex-column gap-2">

                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <DxMaskedInput @bind-Value="@item.Evening1Sf" Mask="999" ReadOnly="@IsOmronMonitor" />
                                        <span> úderov za minútu</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <DxMaskedInput @bind-Value="@item.Evening2Sf" Mask="999" ReadOnly="@IsOmronMonitor" />
                                        <span> úderov za minútu</span>
                                    </div>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanMd="12" CssClass="form-separator"><Template><hr /></Template></DxFormLayoutItem>
                        }
                    </DxFormLayoutGroup>
                    <DxFormLayoutGroup Caption="Vypočítané priemerné hodnoty" ColSpanMd="12">
                        <DxFormLayoutItem Caption="ráno" ColSpanMd="12" CaptionCssClass="caption-styleH1" />
                        <DxFormLayoutItem Caption="priemerný tlak krvi" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@MorningStk / @MorningDtk mmHg</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">autom. počítaný</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="priemerný pulz" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@MorningSf úderov za minútu</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">autom. počítaný</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="večer" ColSpanMd="12" CaptionCssClass="caption-styleH1" />
                        <DxFormLayoutItem Caption="priemerný tlak krvi" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@EveningStk / @EveningDtk mmHg</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">autom. počítaný</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="priemerný pulz" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@EveningSf úderov za minútu</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">autom. počítaný</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="celkovo" ColSpanMd="12" CaptionCssClass="caption-styleH1" />
                        <DxFormLayoutItem Caption="priemerný tlak krvi" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@Stk / @Dtk mmHg</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">autom. počítaný</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="priemerný pulz" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue long-caption"><span style="color:#6e7de8;">@Sf úderov za minútu</span></DxFormLayoutItem>
                        <DxFormLayoutItem Caption="" ColSpanMd="6" CaptionCssClass="caption-styleH1-blue"><span style="color:#6e7de8;">autom. počítaný</span></DxFormLayoutItem>
                    </DxFormLayoutGroup>
                }
            </DxFormLayoutGroup>
        </DxFormLayout>
    </EditForm>
}

@code {
    [Parameter]
    public required string patientId { get; set; }

    private BloodPressureMonitor? BloodPressureMonitor { get; set; }
    private List<DayRecordWrapper>? DayRecords { get; set; }
    private IEnumerable<string> Hands = new[] { "patriaci subjektu", "merané tlakomerom Omron" };
    private string? Message;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            BloodPressureMonitor = await QuestionnaireService.GetBloodPressureMonitorAsync(patientId);
            var records = await QuestionnaireService.GetDayRecordsAsync(patientId);
            DayRecords = [];
            for (int i = 1; i < 8; i++)
            {
                var record = records.FirstOrDefault(r => r.DayNumber == i);
                if (record == null)
                    record = new DayRecord { PatientId = patientId, DayNumber = i, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };
                var wrapper = new DayRecordWrapper(record);
                wrapper.PropertyChanged += async (s, e) => await OnDayFieldChangedAsync(wrapper.Record).ConfigureAwait(false);
                DayRecords!.Add(wrapper);
            }
            await InvokeAsync(StateHasChanged);
        }
    }

    private System.Timers.Timer? debouncePETimer;
    private async Task OnMonitorFieldChangedAsync()
    {
        // Ak existuje starý timer, zastaviť ho
        debouncePETimer?.Stop();

        // Nový timer na 1 sekundu
        debouncePETimer = new System.Timers.Timer(1000);
        debouncePETimer.AutoReset = false;
        debouncePETimer.Elapsed += async (s, e) =>
        {
            var result = await QuestionnaireService.SaveBloodPressureMonitorAsync(BloodPressureMonitor!);
            if (!result.Success)
                Message = $"Chyba: {result.ErrorMessage} {result.AdditionalInfo}";
            else
            {
                ModifyToast();
                ProgressService.UpdateField("IsHomeMonitoring06", true);
            }
        };
        debouncePETimer.Start();

        // Await the timer to avoid CS1998 warning
        await Task.CompletedTask;
    }
    private Dictionary<int, System.Timers.Timer> debounceTimers = [];
    private async Task OnDayFieldChangedAsync(DayRecord entry)
    {
        var day = entry.DayNumber;

        // Ak existuje starý timer, zastaviť ho
        if (debounceTimers.TryGetValue(day, out var existingTimer))
        {
            existingTimer.Stop();
            existingTimer.Dispose();
        }

        // Nový timer na 1 sekundu
        var timer = new System.Timers.Timer(1000) { AutoReset = false };
        timer.Elapsed += async (s, e) =>
        {
            var result = await QuestionnaireService.SaveDayRecordAsync(entry);
            if (!result.Success)
                Message = $"Chyba: {result.ErrorMessage} {result.AdditionalInfo}";
            else
            {
                ModifyToast();
                ProgressService.UpdateField("IsHomeMonitoring06", true);
            }

            debounceTimers.Remove(day);
            timer.Dispose();
        };

        debounceTimers[day] = timer;
        timer.Start();

        // Await the timer to avoid CS1998 warning
        await Task.CompletedTask;
    }

    private bool IsOmronMonitor { get => BloodPressureMonitor!.IsOmronMonitor; }
    private bool NotOmronMonitor { get => !BloodPressureMonitor!.IsOmronMonitor; }
    private string IsOmronMonitorCase
    {
        get => (BloodPressureMonitor!.IsOmronMonitor) ? "merané tlakomerom Omron" : "patriaci subjektu";
        set
        {
            bool val = value == "merané tlakomerom Omron";
            if (BloodPressureMonitor!.IsOmronMonitor != val)
            {
                BloodPressureMonitor!.IsOmronMonitor = val;
                InvokeAsync(OnMonitorFieldChangedAsync);
            }
        }
    }
    private string OmronNumber
    {
        get => BloodPressureMonitor?.OmronNumber?.ToString() ?? string.Empty;
        set
        {
            int? newValue = null;
            if (int.TryParse(value, out var parsed))
                newValue = parsed;
            if (BloodPressureMonitor!.OmronNumber != newValue)
            {
                BloodPressureMonitor!.OmronNumber = newValue;
                InvokeAsync(OnMonitorFieldChangedAsync);
            }
        }
    }

    private string MorningStk 
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Morning1Stk.HasValue && item.Record.Morning1Stk.Value > 0)
                {
                    value += item.Record.Morning1Stk.Value;
                    count++;
                }
                if (item.Record.Morning2Stk.HasValue && item.Record.Morning2Stk.Value > 0)
                {
                    value += item.Record.Morning2Stk.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }
    private string MorningDtk
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Morning1Dtk.HasValue && item.Record.Morning1Dtk.Value > 0)
                {
                    value += item.Record.Morning1Dtk.Value;
                    count++;
                }
                if (item.Record.Morning2Dtk.HasValue && item.Record.Morning2Dtk.Value > 0)
                {
                    value += item.Record.Morning2Dtk.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }
    private string MorningSf
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Morning1Sf.HasValue && item.Record.Morning1Sf.Value > 0)
                {
                    value += item.Record.Morning1Sf.Value;
                    count++;
                }
                if (item.Record.Morning2Sf.HasValue && item.Record.Morning2Sf.Value > 0)
                {
                    value += item.Record.Morning2Sf.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }
    private string EveningStk
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Evening1Stk.HasValue && item.Record.Evening1Stk.Value > 0)
                {
                    value += item.Record.Evening1Stk.Value;
                    count++;
                }
                if (item.Record.Evening2Stk.HasValue && item.Record.Evening2Stk.Value > 0)
                {
                    value += item.Record.Evening2Stk.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }
    private string EveningDtk
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Evening1Dtk.HasValue && item.Record.Evening1Dtk.Value > 0)
                {
                    value += item.Record.Evening1Dtk.Value;
                    count++;
                }
                if (item.Record.Evening2Dtk.HasValue && item.Record.Evening2Dtk.Value > 0)
                {
                    value += item.Record.Evening2Dtk.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }
    private string EveningSf
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Evening1Sf.HasValue && item.Record.Evening1Sf.Value > 0)
                {
                    value += item.Record.Evening1Sf.Value;
                    count++;
                }
                if (item.Record.Evening2Sf.HasValue && item.Record.Evening2Sf.Value > 0)
                {
                    value += item.Record.Evening2Sf.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }
    private string Stk 
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Morning1Stk.HasValue && item.Record.Morning1Stk.Value > 0)
                {
                    value += item.Record.Morning1Stk.Value;
                    count++;
                }
                if (item.Record.Morning2Stk.HasValue && item.Record.Morning2Stk.Value > 0)
                {
                    value += item.Record.Morning2Stk.Value;
                    count++;
                }
                if (item.Record.Evening1Stk.HasValue && item.Record.Evening1Stk.Value > 0)
                {
                    value += item.Record.Evening1Stk.Value;
                    count++;
                }
                if (item.Record.Evening2Stk.HasValue && item.Record.Evening2Stk.Value > 0)
                {
                    value += item.Record.Evening2Stk.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }
    private string Dtk
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Morning1Dtk.HasValue && item.Record.Morning1Dtk.Value > 0)
                {
                    value += item.Record.Morning1Dtk.Value;
                    count++;
                }
                if (item.Record.Morning2Dtk.HasValue && item.Record.Morning2Dtk.Value > 0)
                {
                    value += item.Record.Morning2Dtk.Value;
                    count++;
                }
                if (item.Record.Evening1Dtk.HasValue && item.Record.Evening1Dtk.Value > 0)
                {
                    value += item.Record.Evening1Dtk.Value;
                    count++;
                }
                if (item.Record.Evening2Dtk.HasValue && item.Record.Evening2Dtk.Value > 0)
                {
                    value += item.Record.Evening2Dtk.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }
    private string Sf
    {
        get
        {
            int value = 0;
            int count = 0;
            foreach (var item in DayRecords!)
            {
                if (item.Record.Morning1Sf.HasValue && item.Record.Morning1Sf.Value > 0)
                {
                    value += item.Record.Morning1Sf.Value;
                    count++;
                }
                if (item.Record.Morning2Sf.HasValue && item.Record.Morning2Sf.Value > 0)
                {
                    value += item.Record.Morning2Sf.Value;
                    count++;
                }
                if (item.Record.Evening1Sf.HasValue && item.Record.Evening1Sf.Value > 0)
                {
                    value += item.Record.Evening1Sf.Value;
                    count++;
                }
                if (item.Record.Evening2Sf.HasValue && item.Record.Evening2Sf.Value > 0)
                {
                    value += item.Record.Evening2Sf.Value;
                    count++;
                }
            }

            string result = (count == 0) ? "0" : (value / count).ToString("F2");
            return result;
        }
    }

    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Údaje úspešne aktualizované",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }

    private class DayRecordWrapper
    {
        public DayRecord Record { get; }
        public DayRecordWrapper(DayRecord record)
        {
            Record = record;
        }
        public event EventHandler? PropertyChanged;

        public string DayNumber { get => $"Deň {Record.DayNumber}"; }
        public bool Morning1PressureUnknown
        {
            get => Record.Morning1PressureUnknown;
            set
            {
                if (Record.Morning1PressureUnknown != value)
                {
                    Record.Morning1PressureUnknown = value;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public bool Morning1PulseUnknown
        {
            get => Record.Morning1PulseUnknown;
            set
            {
                if (Record.Morning1PulseUnknown != value)
                {
                    Record.Morning1PulseUnknown = value;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Morning1Stk
        {
            get => Record?.Morning1Stk?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Morning1Stk != newValue)
                {
                    Record.Morning1Stk = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Morning1Dtk
        {
            get => Record?.Morning1Dtk?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Morning1Dtk != newValue)
                {
                    Record.Morning1Dtk = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Morning1Sf
        {
            get => Record?.Morning1Sf?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Morning1Sf != newValue)
                {
                    Record.Morning1Sf = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public bool Morning2PressureUnknown
        {
            get => Record.Morning2PressureUnknown;
            set
            {
                if (Record.Morning2PressureUnknown != value)
                {
                    Record.Morning2PressureUnknown = value;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public bool Morning2PulseUnknown
        {
            get => Record.Morning2PulseUnknown;
            set
            {
                if (Record.Morning2PulseUnknown != value)
                {
                    Record.Morning2PulseUnknown = value;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Morning2Stk
        {
            get => Record?.Morning2Stk?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Morning2Stk != newValue)
                {
                    Record.Morning2Stk = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Morning2Dtk
        {
            get => Record?.Morning2Dtk?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Morning2Dtk != newValue)
                {
                    Record.Morning2Dtk = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Morning2Sf
        {
            get => Record?.Morning2Sf?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Morning2Sf != newValue)
                {
                    Record.Morning2Sf = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public bool Evening1PressureUnknown
        {
            get => Record.Evening1PressureUnknown;
            set
            {
                if (Record.Evening1PressureUnknown != value)
                {
                    Record.Evening1PressureUnknown = value;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public bool Evening1PulseUnknown
        {
            get => Record.Evening1PulseUnknown;
            set
            {
                if (Record.Evening1PulseUnknown != value)
                {
                    Record.Evening1PulseUnknown = value;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Evening1Stk
        {
            get => Record?.Evening1Stk?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Evening1Stk != newValue)
                {
                    Record.Evening1Stk = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Evening1Dtk
        {
            get => Record?.Evening1Dtk?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Evening1Dtk != newValue)
                {
                    Record.Evening1Dtk = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Evening1Sf
        {
            get => Record?.Evening1Sf?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Evening1Sf != newValue)
                {
                    Record.Evening1Sf = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public bool Evening2PressureUnknown
        {
            get => Record.Evening2PressureUnknown;
            set
            {
                if (Record.Evening2PressureUnknown != value)
                {
                    Record.Evening2PressureUnknown = value;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public bool Evening2PulseUnknown
        {
            get => Record.Evening2PulseUnknown;
            set
            {
                if (Record.Evening2PulseUnknown != value)
                {
                    Record.Evening2PulseUnknown = value;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Evening2Stk
        {
            get => Record?.Evening2Stk?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Evening2Stk != newValue)
                {
                    Record.Evening2Stk = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Evening2Dtk
        {
            get => Record?.Evening2Dtk?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Evening2Dtk != newValue)
                {
                    Record.Evening2Dtk = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
        public string Evening2Sf
        {
            get => Record?.Evening2Sf?.ToString() ?? string.Empty;
            set
            {
                int? newValue = null;
                if (int.TryParse(value, out var parsed))
                    newValue = parsed;
                if (Record.Evening2Sf != newValue)
                {
                    Record.Evening2Sf = newValue;
                    PropertyChanged?.Invoke(this, EventArgs.Empty);
                }
            }
        }
    }
}
