@using System.ComponentModel.DataAnnotations
@using Servier.Pressure.Components.Account.Shared
@using Servier.Pressure.Data.Models
@using Servier.Pressure.Data.Lists
@using Servier.Pressure.Helpers
@using Servier.Pressure.Services.Pages

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject QuestionnaireService QuestionnaireService
@inject IToastNotificationService ToastService
@inject AppState AppState
@implements IDisposable

@if (@AppState.TreatmentChanged)
{
    <StatusMessage Message="@Message" />
    <p>Monoterapia a/alebo voľné kombinácie (možnosť výberu viacerých možností)</p>
    @if (!IsMonotherapyDataReady)
    {
        <p><em>Načítavanie...</em></p>
    }
    else
    {
        <DxGrid @ref="MonotherapyGrid" Data="@TreatmentMonotherapies" CssClass="mw-1100"
        EditMode="GridEditMode.EditCell"
        EditModelSaving="MonotherapyGrid_EditModelSaving">
            <Columns>
                <DxGridDataColumn Caption="Terapia">
                    <CellDisplayTemplate Context="gridContext">
                        @GetMonotherapyText(((TreatmentMonotherapy)gridContext.DataItem).Monotherapy)
                    </CellDisplayTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="DrugId" Caption="Účinná látka">
                    <CellDisplayTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMonotherapy)gridContext.DataItem;
                            if (rowItem.DrugId > 0)
                            {
                                var items = GetTreatmentMonotherapyDrugs(rowItem.Monotherapy);
                                string drug = items.FirstOrDefault(i => i.Id == rowItem.DrugId)?.Name ?? string.Empty;
                                <div class="text-start">@drug</div>
                            }
                        }
                    </CellDisplayTemplate>
                    <CellEditTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMonotherapy)gridContext.EditModel;
                        }
                        <DxComboBox Data="@GetTreatmentMonotherapyDrugs(rowItem.Monotherapy)" @bind-Value="@rowItem.DrugId" TextFieldName="Name" ValueFieldName="Id" SelectedItemChanged="@((TreatmentMonotherapyDrug drug) => OnMonotherapyDrugChanged(drug, rowItem))" />
                    </CellEditTemplate>
                </DxGridDataColumn>
                <DxGridDataColumn Caption="Dávka / tbl (mg)" FieldName="Dose">
                    <CellEditTemplate Context="editContext">
                        <DxSpinEdit @bind-Value="@(((TreatmentMonotherapy)editContext.EditModel).Dose)" MinValue="0" />
                    </CellEditTemplate>
                </DxGridDataColumn>
                <DxGridBandColumn Caption="Počet užitých tabliet">
                    <Columns>
                        <DxGridDataColumn Caption="R" FieldName="NumberMorning" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMonotherapy)editContext.EditModel).NumberMorning)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="O" FieldName="NumberNoon" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMonotherapy)editContext.EditModel).NumberNoon)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="V" FieldName="NumberEvening" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMonotherapy)editContext.EditModel).NumberEvening)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                    </Columns>
                </DxGridBandColumn>
                <DxGridDataColumn Caption="neznáme" FieldName="IsUnknown" Width="8%" MinWidth="90" />
                <DxGridCommandColumn Width="60px" NewButtonVisible="false">
                    <CellDisplayTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMonotherapy)gridContext.DataItem;
                        }
                        <div class="grid-cell-align-center">
                            <DxButton IconCssClass="grid-icon grid-icon-delete"
                            RenderStyle="ButtonRenderStyle.Link"
                            title="Vymazať dáta riadku"
                            Click="@(async () => await OnMonotherapyRowResetClick(rowItem))" />
                        </div>
                    </CellDisplayTemplate>
                    <CellEditTemplate Context="editContext">
                        <div class="grid-cell-align-center">
                            <DxButton Enabled="false"
                            aria-label="Delete"
                            CssClass="grid-disabled-button"
                            IconCssClass="grid-icon grid-icon-delete"
                            RenderStyle="ButtonRenderStyle.Link" />
                        </div>
                    </CellEditTemplate>
                </DxGridCommandColumn>
            </Columns>
        </DxGrid>
    }
    <p><br />Fixné kombinácie 2 antihypertenzív (možnosť výberu viacerých možností)</p>
    @if (!IsMultitherapyDataReady)
    {
        <p><em>Načítavanie...</em></p>
    }
    else
    {
        <DxGrid @ref="Antihypertensive2Grid" Data="@TreatmentAntihypertensives2" CssClass="mw-1100"
        PageSize="25"
        EditMode="GridEditMode.EditCell"
        EditModelSaving="MultitherapyGrid_EditModelSaving">
            <Columns>
                <DxGridDataColumn FieldName="DrugId" Caption="Účinná látka">
                    <CellDisplayTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.DataItem;
                            if (rowItem.IsOther)
                            {
                                if (string.IsNullOrEmpty(rowItem.Other))
                                {
                                    <div class="text-start" style="color:dimgray; font-style:italic;">iné, prosím zadajte</div>
                                }
                                else
                                {
                                    <div class="text-start">@rowItem.Other</div>
                                }
                            }
                            else
                            {
                                if (rowItem.DrugId > 0)
                                {
                                    string drug = Antihypertensive2Drugs.FirstOrDefault(i => i.Id == rowItem.DrugId)?.Name ?? string.Empty;
                                    <div class="text-start">@drug</div>
                                }
                            }
                        }
                    </CellDisplayTemplate>
                    <CellEditTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.EditModel;
                            if (rowItem.IsOther)
                            {
                                <DxTextBox @bind-Text="@rowItem.Other"/>
                            }
                            else
                            {
                                <DxComboBox Data="@Antihypertensive2Drugs" @bind-Value="@rowItem.DrugId" TextFieldName="Name" ValueFieldName="Id" SelectedItemChanged="@((TreatmentMultitherapyDrug drug) => OnMultitherapyDrugChanged(drug, rowItem, MultitherapyEnum.Antihypertensive2))" />
                            }
                        }
                    </CellEditTemplate>
                </DxGridDataColumn>
                <DxGridBandColumn Caption="Dávka / tbl (mg)">
                    <Columns>
                        <DxGridDataColumn Caption="Látka 1" FieldName="Dose1" Width="8%" MinWidth="50">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).Dose1)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Látka 2" FieldName="Dose2" Width="8%" MinWidth="50">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).Dose2)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                    </Columns>
                </DxGridBandColumn>
                <DxGridBandColumn Caption="Počet užitých tabliet">
                    <Columns>
                        <DxGridDataColumn Caption="R" FieldName="NumberMorning" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberMorning)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="O" FieldName="NumberNoon" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberNoon)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="V" FieldName="NumberEvening" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberEvening)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                    </Columns>
                </DxGridBandColumn>
                <DxGridDataColumn Caption="neznáme" FieldName="IsUnknown" Width="8%" MinWidth="90" />
                <DxGridCommandColumn Width="60px" NewButtonVisible="false">
                    <CellDisplayTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.DataItem;
                        }
                        <div class="grid-cell-align-center">
                            <DxButton IconCssClass="grid-icon grid-icon-delete"
                            RenderStyle="ButtonRenderStyle.Link"
                            title="Vymazať dáta riadku"
                            Click="@(async () => await OnAntihypertensive2RowResetClick(rowItem))" />
                        </div>
                    </CellDisplayTemplate>
                    <CellEditTemplate Context="editContext">
                        <div class="grid-cell-align-center">
                            <DxButton Enabled="false"
                            aria-label="Delete"
                            CssClass="grid-disabled-button"
                            IconCssClass="grid-icon grid-icon-delete"
                            RenderStyle="ButtonRenderStyle.Link" />
                        </div>
                    </CellEditTemplate>
                </DxGridCommandColumn>
            </Columns>
        </DxGrid>
    }
    <p><br />Fixné kombinácie 3 antihypertenzív (možnosť výberu viacerých možností)</p>
    @if (!IsMultitherapyDataReady)
    {
        <p><em>Načítavanie...</em></p>
    }
    else
    {
        <DxGrid @ref="Antihypertensive3Grid" Data="@TreatmentAntihypertensives3" CssClass="mw-1100"
        PageSize="25"
        EditMode="GridEditMode.EditCell"
        EditModelSaving="MultitherapyGrid_EditModelSaving">
            <Columns>
                <DxGridDataColumn FieldName="DrugId" Caption="Účinná látka">
                    <CellDisplayTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.DataItem;
                            if (rowItem.IsOther)
                            {
                                if (string.IsNullOrEmpty(rowItem.Other))
                                {
                                    <div class="text-start" style="color:dimgray; font-style:italic;">iné, prosím zadajte</div>
                                }
                                else
                                {
                                    <div class="text-start">@rowItem.Other</div>
                                }
                            }
                            else
                            {
                                if (rowItem.DrugId > 0)
                                {
                                    string drug = Antihypertensive3Drugs.FirstOrDefault(i => i.Id == rowItem.DrugId)?.Name ?? string.Empty;
                                    <div class="text-start">@drug</div>
                                }
                            }
                        }
                    </CellDisplayTemplate>
                    <CellEditTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.EditModel;
                            if (rowItem.IsOther)
                            {
                                <DxTextBox @bind-Text="@rowItem.Other" />
                            }
                            else
                            {
                                <DxComboBox Data="@Antihypertensive3Drugs" @bind-Value="@rowItem.DrugId" TextFieldName="Name" ValueFieldName="Id" SelectedItemChanged="@((TreatmentMultitherapyDrug drug) => OnMultitherapyDrugChanged(drug, rowItem, MultitherapyEnum.Antihypertensive3))" />
                            }
                        }
                    </CellEditTemplate>
                </DxGridDataColumn>
                <DxGridBandColumn Caption="Dávka / tbl (mg)">
                    <Columns>
                        <DxGridDataColumn Caption="Látka 1" FieldName="Dose1" Width="8%" MinWidth="50">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).Dose1)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Látka 2" FieldName="Dose2" Width="8%" MinWidth="50">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).Dose2)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Látka 3" FieldName="Dose3" Width="8%" MinWidth="50">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).Dose3)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                    </Columns>
                </DxGridBandColumn>
                <DxGridBandColumn Caption="Počet užitých tabliet">
                    <Columns>
                        <DxGridDataColumn Caption="R" FieldName="NumberMorning" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberMorning)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="O" FieldName="NumberNoon" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberNoon)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="V" FieldName="NumberEvening" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberEvening)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                    </Columns>
                </DxGridBandColumn>
                <DxGridDataColumn Caption="neznáme" FieldName="IsUnknown" Width="8%" MinWidth="90" />
                <DxGridCommandColumn Width="60px" NewButtonVisible="false">
                    <CellDisplayTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.DataItem;
                        }
                        <div class="grid-cell-align-center">
                            <DxButton IconCssClass="grid-icon grid-icon-delete"
                            RenderStyle="ButtonRenderStyle.Link"
                            title="Vymazať dáta riadku"
                            Click="@(async () => await OnAntihypertensive3RowResetClick(rowItem))" />
                        </div>
                    </CellDisplayTemplate>
                    <CellEditTemplate Context="editContext">
                        <div class="grid-cell-align-center">
                            <DxButton Enabled="false"
                            aria-label="Delete"
                            CssClass="grid-disabled-button"
                            IconCssClass="grid-icon grid-icon-delete"
                            RenderStyle="ButtonRenderStyle.Link" />
                        </div>
                    </CellEditTemplate>
                </DxGridCommandColumn>
            </Columns>
        </DxGrid>
    }
    <p><br />Fixné kombinácie antihypertenzív a hypolipidemík (možnosť výberu viacerých možností)</p>
    @if (!IsMultitherapyDataReady)
    {
        <p><em>Načítavanie...</em></p>
    }
    else
    {
        <DxGrid @ref="WithHypolypedidemicGrid" Data="@TreatmentWithHypolypedidemic" CssClass="mw-1100"
        PageSize="25"
        EditMode="GridEditMode.EditCell"
        EditModelSaving="MultitherapyGrid_EditModelSaving">
            <Columns>
                <DxGridDataColumn FieldName="DrugId" Caption="Účinná látka">
                    <CellDisplayTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.DataItem;
                            if (rowItem.IsOther)
                            {
                                if (string.IsNullOrEmpty(rowItem.Other))
                                {
                                    <div class="text-start" style="color:dimgray; font-style:italic;">iné, prosím zadajte</div>
                                }
                                else
                                {
                                    <div class="text-start">@rowItem.Other</div>
                                }
                            }
                            else
                            {
                                if (rowItem.DrugId > 0)
                                {
                                    string drug = WithHypolypedidemicDrugs.FirstOrDefault(i => i.Id == rowItem.DrugId)?.Name ?? string.Empty;
                                    <div class="text-start">@drug</div>
                                }
                            }
                        }
                    </CellDisplayTemplate>
                    <CellEditTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.EditModel;
                            if (rowItem.IsOther)
                            {
                                <DxTextBox @bind-Text="@rowItem.Other" />
                            }
                            else
                            {
                                <DxComboBox Data="@WithHypolypedidemicDrugs" @bind-Value="@rowItem.DrugId" TextFieldName="Name" ValueFieldName="Id" SelectedItemChanged="@((TreatmentMultitherapyDrug drug) => OnMultitherapyDrugChanged(drug, rowItem, MultitherapyEnum.Antihypertensive3))" />
                            }
                        }
                    </CellEditTemplate>
                </DxGridDataColumn>
                <DxGridBandColumn Caption="Dávka / tbl (mg)">
                    <Columns>
                        <DxGridDataColumn Caption="Látka 1" FieldName="Dose1" Width="8%" MinWidth="50">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).Dose1)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Látka 2" FieldName="Dose2" Width="8%" MinWidth="50">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).Dose2)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="Látka 3" FieldName="Dose3" Width="8%" MinWidth="50">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).Dose3)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                    </Columns>
                </DxGridBandColumn>
                <DxGridBandColumn Caption="Počet užitých tabliet">
                    <Columns>
                        <DxGridDataColumn Caption="R" FieldName="NumberMorning" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberMorning)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="O" FieldName="NumberNoon" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberNoon)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                        <DxGridDataColumn Caption="V" FieldName="NumberEvening" Width="50px">
                            <CellEditTemplate Context="editContext">
                                <DxSpinEdit @bind-Value="@(((TreatmentMultitherapy)editContext.EditModel).NumberEvening)" MinValue="0" />
                            </CellEditTemplate>
                        </DxGridDataColumn>
                    </Columns>
                </DxGridBandColumn>
                <DxGridDataColumn Caption="neznáme" FieldName="IsUnknown" Width="8%" MinWidth="90" />
                <DxGridCommandColumn Width="60px" NewButtonVisible="false">
                    <CellDisplayTemplate Context="gridContext">
                        @{
                            var rowItem = (TreatmentMultitherapy)gridContext.DataItem;
                        }
                        <div class="grid-cell-align-center">
                            <DxButton IconCssClass="grid-icon grid-icon-delete"
                            RenderStyle="ButtonRenderStyle.Link"
                            title="Vymazať dáta riadku"
                            Click="@(async () => await OnWithHypolypedidemicRowResetClick(rowItem))" />
                        </div>
                    </CellDisplayTemplate>
                    <CellEditTemplate Context="editContext">
                        <div class="grid-cell-align-center">
                            <DxButton Enabled="false"
                            aria-label="Delete"
                            CssClass="grid-disabled-button"
                            IconCssClass="grid-icon grid-icon-delete"
                            RenderStyle="ButtonRenderStyle.Link" />
                        </div>
                    </CellEditTemplate>
                </DxGridCommandColumn>
            </Columns>
        </DxGrid>
    }
}

@code {
    [Parameter]
    public required string patientId { get; set; }
    [Parameter]
    public required VisitEnum visitNum { get; set; }

    private IGrid? MonotherapyGrid { get; set; }
    private IGrid? Antihypertensive2Grid { get; set; }
    private IGrid? Antihypertensive3Grid { get; set; }
    private IGrid? WithHypolypedidemicGrid { get; set; }

    private TreatmentUnknowns TreatmentUnknowns { get; set; } = new();
    private List<TreatmentMonotherapy> TreatmentMonotherapies { get; set; } = [];
    private List<TreatmentMultitherapy> TreatmentAntihypertensives2 { get; set; } = [];
    private List<TreatmentMultitherapy> TreatmentAntihypertensives3 { get; set; } = [];
    private List<TreatmentMultitherapy> TreatmentWithHypolypedidemic { get; set; } = [];

    private bool IsMonotherapyDataReady { get; set; } = false;
    private bool IsMultitherapyDataReady { get; set; } = false;
    private IEnumerable<TreatmentMonotherapyDrug> ACEInhibitorDrugs { get; set; } = [];
    private IEnumerable<TreatmentMonotherapyDrug> AngiotensinIIReceptorBlockerDrugs { get; set; } = [];
    private IEnumerable<TreatmentMonotherapyDrug> CalciumChannelBlockerDrugs { get; set; } = [];
    private IEnumerable<TreatmentMonotherapyDrug> BetaBlockerDrugs { get; set; } = [];
    private IEnumerable<TreatmentMonotherapyDrug> DiureticDrugs { get; set; } = [];
    private IEnumerable<TreatmentMonotherapyDrug> AldosteroneAntagonistDrugs { get; set; } = [];
    private IEnumerable<TreatmentMonotherapyDrug> OtherDrugs { get; set; } = [];
    private IEnumerable<TreatmentMultitherapyDrug> Antihypertensive2Drugs { get; set; } = [];
    private IEnumerable<TreatmentMultitherapyDrug> Antihypertensive3Drugs { get; set; } = [];
    private IEnumerable<TreatmentMultitherapyDrug> WithHypolypedidemicDrugs { get; set; } = [];
    private string? Message;
    private bool IsInitialized = false;

    protected override void OnInitialized()
    {
        AppState.OnChange += OnAppStateChanged;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (AppState.TreatmentChanged)
                await LoadDataAsync();
            IsInitialized = true;
        }
    }
    private async void OnAppStateChanged()
    {
        if (!IsInitialized)
            return;

        if (AppState.TreatmentChanged)
            await LoadDataAsync();

        await InvokeAsync(StateHasChanged); // re-render
    }
    private async Task SaveTreatment()
    {
        var result = await QuestionnaireService.SaveTreatmentUnknownsAsync(patientId, visitNum, TreatmentUnknowns);
        if (!result.Success)
            Message = string.Format("Chyba: {0} {1}", result.ErrorMessage, result.AdditionalInfo);
        else
            ModifyToast();
    }

    private async Task MonotherapyGrid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var therapyUpdated = (TreatmentMonotherapy)e.EditModel;
        var therapyOrig = (TreatmentMonotherapy)e.DataItem;

        if (MonotherapyGrid is DxGrid grid)
            await grid.CancelEditAsync();

        await UpdateMonotherapyData(therapyUpdated);
        await LoadMonotherapyData();
    }
    private async Task OnMonotherapyRowResetClick(TreatmentMonotherapy monotherapy)
    {
        if (monotherapy == null) return;

        var therapyOrig = TreatmentMonotherapies.First(i => i.Monotherapy == monotherapy.Monotherapy);
        if (therapyOrig.Id > 0)
        {
            await QuestionnaireService.DeleteTreatmentMonotherapyAsync(therapyOrig);
            await LoadMonotherapyData();
        }
        else
        {
            therapyOrig.DrugId = 0;
            therapyOrig.Dose = 0;
            therapyOrig.NumberMorning = 0;
            therapyOrig.NumberNoon = 0;
            therapyOrig.NumberEvening = 0;
            therapyOrig.IsUnknown = false;
        }
    }
    private async Task OnMonotherapyDrugChanged(TreatmentMonotherapyDrug drug, TreatmentMonotherapy monotherapy)
    {
        if (drug == null || monotherapy == null) return;

        var therapyOrig = TreatmentMonotherapies.First(i => i.Monotherapy == monotherapy.Monotherapy);
        therapyOrig.DrugId = drug.Id;
        await InvokeAsync(StateHasChanged);
    }

    private async Task MultitherapyGrid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var therapyUpdated = (TreatmentMultitherapy)e.EditModel;

        if (e.Grid is DxGrid grid)
            await grid.CancelEditAsync();

        var result = await QuestionnaireService.SaveTreatmentMultitherapyAsync(therapyUpdated);
        if (!result.Success)
            Message = string.Format("Chyba: {0} {1}", result.ErrorMessage, result.AdditionalInfo);
        else
            ModifyToast();
        await LoadMultitherapyData();
    }
    private async Task OnAntihypertensive2RowResetClick(TreatmentMultitherapy therapy)
    {
        if (therapy == null) return;

        var therapyOrig = TreatmentAntihypertensives2.First(i => i.Multitherapy == therapy.Multitherapy);
        if (therapyOrig.Id > 0)
        {
            await QuestionnaireService.DeleteTreatmentMultitherapyAsync(therapyOrig);
            await LoadMultitherapyData();
        }
        else
        {
            therapyOrig.DrugId = 0;
            therapyOrig.Dose1 = 0;
            therapyOrig.Dose2 = 0;
            therapyOrig.Dose3 = 0;
            therapyOrig.NumberMorning = 0;
            therapyOrig.NumberNoon = 0;
            therapyOrig.NumberEvening = 0;
            therapyOrig.IsUnknown = false;
        }
    }
    private async Task OnAntihypertensive3RowResetClick(TreatmentMultitherapy therapy)
    {
        if (therapy == null) return;

        var therapyOrig = TreatmentAntihypertensives3.First(i => i.Multitherapy == therapy.Multitherapy);
        if (therapyOrig.Id > 0)
        {
            await QuestionnaireService.DeleteTreatmentMultitherapyAsync(therapyOrig);
            await LoadMultitherapyData();
        }
        else
        {
            therapyOrig.DrugId = 0;
            therapyOrig.Dose1 = 0;
            therapyOrig.Dose2 = 0;
            therapyOrig.Dose3 = 0;
            therapyOrig.NumberMorning = 0;
            therapyOrig.NumberNoon = 0;
            therapyOrig.NumberEvening = 0;
            therapyOrig.IsUnknown = false;
        }
    }
    private async Task OnWithHypolypedidemicRowResetClick(TreatmentMultitherapy therapy)
    {
        if (therapy == null) return;

        var therapyOrig = TreatmentWithHypolypedidemic.First(i => i.Multitherapy == therapy.Multitherapy);
        if (therapyOrig.Id > 0)
        {
            await QuestionnaireService.DeleteTreatmentMultitherapyAsync(therapyOrig);
            await LoadMultitherapyData();
        }
        else
        {
            therapyOrig.DrugId = 0;
            therapyOrig.Dose1 = 0;
            therapyOrig.Dose2 = 0;
            therapyOrig.Dose3 = 0;
            therapyOrig.NumberMorning = 0;
            therapyOrig.NumberNoon = 0;
            therapyOrig.NumberEvening = 0;
            therapyOrig.IsUnknown = false;
        }
    }
    private async Task OnMultitherapyDrugChanged(TreatmentMultitherapyDrug drug, TreatmentMultitherapy multitherapy, MultitherapyEnum type)
    {
        if (drug == null || multitherapy == null) return;

        switch (type)
        {
            case MultitherapyEnum.Antihypertensive2:
                var antihypertensives2 = TreatmentAntihypertensives2.First();
                antihypertensives2.DrugId = drug.Id;
                break;
            case MultitherapyEnum.Antihypertensive3:
                var antihypertensives3 = TreatmentAntihypertensives3.First();
                antihypertensives3.DrugId = drug.Id;
                break;
            case MultitherapyEnum.WithHypolypedidemic:
                var withHypolypedidemic = TreatmentWithHypolypedidemic.First();
                withHypolypedidemic.DrugId = drug.Id;
                break;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadDataAsync()
    {
        // get monotherapies primary data
        var treatmentTask = QuestionnaireService.GetTreatmentUnknownsAsync(patientId, visitNum);
        var monotherapiesTask = LoadMonotherapyData();
        var aCEInhibitorTask = QuestionnaireService.GetTreatmentMonotherapyDrugsAsync(MonotherapyEnum.ACEInhibitor);
        var angiotensinIIReceptorBlockerTask = QuestionnaireService.GetTreatmentMonotherapyDrugsAsync(MonotherapyEnum.AngiotensinIIReceptorBlocker);
        var calciumChannelBlockerTask = QuestionnaireService.GetTreatmentMonotherapyDrugsAsync(MonotherapyEnum.CalciumChannelBlocker);
        var betaBlockerTask = QuestionnaireService.GetTreatmentMonotherapyDrugsAsync(MonotherapyEnum.BetaBlocker);
        var diureticTask = QuestionnaireService.GetTreatmentMonotherapyDrugsAsync(MonotherapyEnum.Diuretic);
        var aldosteroneAntagonistDrugsTask = QuestionnaireService.GetTreatmentMonotherapyDrugsAsync(MonotherapyEnum.AldosteroneAntagonist);
        var otherTask = QuestionnaireService.GetTreatmentMonotherapyDrugsAsync(MonotherapyEnum.Other);
        var multitherapyDrugsTask = QuestionnaireService.GetTreatmentMultitherapyDrugsAsync();
        await Task.WhenAll(treatmentTask, monotherapiesTask, aCEInhibitorTask, angiotensinIIReceptorBlockerTask, calciumChannelBlockerTask, betaBlockerTask, diureticTask,
            aldosteroneAntagonistDrugsTask, otherTask, multitherapyDrugsTask);
        TreatmentUnknowns = treatmentTask.Result;
        ACEInhibitorDrugs = aCEInhibitorTask.Result;
        AngiotensinIIReceptorBlockerDrugs = angiotensinIIReceptorBlockerTask.Result;
        CalciumChannelBlockerDrugs = calciumChannelBlockerTask.Result;
        BetaBlockerDrugs = betaBlockerTask.Result;
        DiureticDrugs = diureticTask.Result;
        AldosteroneAntagonistDrugs = aldosteroneAntagonistDrugsTask.Result;
        OtherDrugs = otherTask.Result;
        var multitherapyDrugs = multitherapyDrugsTask.Result;

        Antihypertensive2Drugs = multitherapyDrugs.Where(i => i.Multitherapy == MultitherapyEnum.Antihypertensive2);
        Antihypertensive3Drugs = multitherapyDrugs.Where(i => i.Multitherapy == MultitherapyEnum.Antihypertensive3);
        WithHypolypedidemicDrugs = multitherapyDrugs.Where(i => i.Multitherapy == MultitherapyEnum.WithHypolypedidemic);

        var antihypertensives2Task = LoadMultitherapyData();
        await Task.WhenAll(antihypertensives2Task);

        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadMonotherapyData()
    {
        TreatmentMonotherapies.Clear();
        var monotherapies = await QuestionnaireService.GetTreatmentMonotherapiesAsync(patientId, visitNum);

        // prepare datasource
        foreach (MonotherapyEnum item in Enum.GetValues(typeof(MonotherapyEnum)))
        {
            // in the case of others there may be more entries
            if (item != MonotherapyEnum.Other)
            {
                var monotherapy = monotherapies.FirstOrDefault(i => i.Monotherapy == item);
                if (monotherapy == null)
                    monotherapy = new TreatmentMonotherapy { PatientId = patientId, VisitNumber = visitNum, Monotherapy = item, IsUnknown = false, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };

                TreatmentMonotherapies.Add(monotherapy);
            }
        }
        // add others
        foreach (var entry in monotherapies.Where(i => i.Monotherapy == MonotherapyEnum.Other))
        {
            TreatmentMonotherapies.Add(entry);
        }
        var other = new TreatmentMonotherapy { PatientId = patientId, VisitNumber = visitNum, Monotherapy = MonotherapyEnum.Other, IsUnknown = false, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };
        TreatmentMonotherapies.Add(other);

        IsMonotherapyDataReady = true;
    }
    private async Task UpdateMonotherapyData(TreatmentMonotherapy monotherapy)
    {
        var result = await QuestionnaireService.SaveTreatmentMonotherapyAsync(monotherapy);
        if (!result.Success)
            Message = string.Format("Chyba: {0} {1}", result.ErrorMessage, result.AdditionalInfo);
        else
            ModifyToast();
    }
    private string GetMonotherapyText(MonotherapyEnum item)
    {
        return item.GetAttribute<DisplayAttribute>()?.Name ?? item.ToString();
    }
    private IEnumerable<TreatmentMonotherapyDrug> GetTreatmentMonotherapyDrugs(MonotherapyEnum monotherapy)
    {
        return monotherapy switch
        {
            MonotherapyEnum.ACEInhibitor => ACEInhibitorDrugs,
            MonotherapyEnum.AngiotensinIIReceptorBlocker => AngiotensinIIReceptorBlockerDrugs,
            MonotherapyEnum.CalciumChannelBlocker => CalciumChannelBlockerDrugs,
            MonotherapyEnum.BetaBlocker => BetaBlockerDrugs,
            MonotherapyEnum.Diuretic => DiureticDrugs,
            MonotherapyEnum.AldosteroneAntagonist => AldosteroneAntagonistDrugs,
            MonotherapyEnum.Other => OtherDrugs,
            _ => new List<TreatmentMonotherapyDrug>(),
        };
    }

    private async Task LoadMultitherapyData()
    {
        TreatmentAntihypertensives2.Clear();
        TreatmentAntihypertensives3.Clear();
        TreatmentWithHypolypedidemic.Clear();

        var therapies = await QuestionnaireService.GetTreatmentMultitherapiesAsync(patientId, visitNum);

        // prepare Antihypertensive2 datasource
        var therapy = therapies.FirstOrDefault(i => i.Multitherapy == MultitherapyEnum.Antihypertensive2 && !i.IsOther);
        if (therapy == null)
            therapy = new TreatmentMultitherapy { PatientId = patientId, VisitNumber = visitNum, Multitherapy = MultitherapyEnum.Antihypertensive2, IsUnknown = false, IsOther = false, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };
        TreatmentAntihypertensives2.Add(therapy);
        therapy = therapies.FirstOrDefault(i => i.Multitherapy == MultitherapyEnum.Antihypertensive2 && i.IsOther);
        if (therapy == null)
            therapy = new TreatmentMultitherapy { PatientId = patientId, VisitNumber = visitNum, Multitherapy = MultitherapyEnum.Antihypertensive2, IsUnknown = false, IsOther = true, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };
        TreatmentAntihypertensives2.Add(therapy);

        // prepare Antihypertensive3 datasource
        therapy = therapies.FirstOrDefault(i => i.Multitherapy == MultitherapyEnum.Antihypertensive3 && !i.IsOther);
        if (therapy == null)
            therapy = new TreatmentMultitherapy { PatientId = patientId, VisitNumber = visitNum, Multitherapy = MultitherapyEnum.Antihypertensive3, IsUnknown = false, IsOther = false, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };
        TreatmentAntihypertensives3.Add(therapy);
        therapy = therapies.FirstOrDefault(i => i.Multitherapy == MultitherapyEnum.Antihypertensive3 && i.IsOther);
        if (therapy == null)
            therapy = new TreatmentMultitherapy { PatientId = patientId, VisitNumber = visitNum, Multitherapy = MultitherapyEnum.Antihypertensive3, IsUnknown = false, IsOther = true, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };
        TreatmentAntihypertensives3.Add(therapy);

        // prepare WithHypolypedidemic datasource
        therapy = therapies.FirstOrDefault(i => i.Multitherapy == MultitherapyEnum.WithHypolypedidemic && !i.IsOther);
        if (therapy == null)
            therapy = new TreatmentMultitherapy { PatientId = patientId, VisitNumber = visitNum, Multitherapy = MultitherapyEnum.WithHypolypedidemic, IsUnknown = false, IsOther = false, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };
        TreatmentWithHypolypedidemic.Add(therapy);
        therapy = therapies.FirstOrDefault(i => i.Multitherapy == MultitherapyEnum.WithHypolypedidemic && i.IsOther);
        if (therapy == null)
            therapy = new TreatmentMultitherapy { PatientId = patientId, VisitNumber = visitNum, Multitherapy = MultitherapyEnum.WithHypolypedidemic, IsUnknown = false, IsOther = true, CreatedAt = DateTime.Now, ModifiedAt = DateTime.Now };
        TreatmentWithHypolypedidemic.Add(therapy);

        IsMultitherapyDataReady = true;
    }

    private bool IsAntihypertensive3Unknown
    {
        get => TreatmentUnknowns.FixCombination3Unknown;
        set
        {
            if (TreatmentUnknowns.FixCombination3Unknown != value)
            {
                TreatmentUnknowns.FixCombination3Unknown = value;
                InvokeAsync(SaveTreatment);
            }
        }
    }
    private bool IsWithHypolypedidemicUnknown
    {
        get => TreatmentUnknowns.FixCombinationMixUnknown;
        set
        {
            if (TreatmentUnknowns.FixCombinationMixUnknown != value)
            {
                TreatmentUnknowns.FixCombinationMixUnknown = value;
                InvokeAsync(SaveTreatment);
            }
        }
    }

    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Údaje úspešne aktualizované",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }

    public void Dispose()
    {
        AppState.OnChange -= OnAppStateChanged;
    }
}
