@page "/questionnaire/5visit2/{patientId}"

@using Microsoft.AspNetCore.Authorization
@using Servier.Pressure.Components.Pages.Components
@using Servier.Pressure.Data.Models

@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Electronic case report</PageTitle>

<div class="d-flex align-items-center custom-toast-background">
    <DxToastProvider Name="Overview"
                     MaxToastCount="3"
                     AnimationType="ToastAnimationType.Slide"
                     HorizontalAlignment="HorizontalAlignment.Right"
                     VerticalAlignment="VerticalEdge.Top"
                     Width="320px" />
</div>

<div class="cw-880 mo-main-layout">
    <QuestHeader patientId="@patientId" />
    <Visit2InfoComp patientId="@patientId" />
    <PhysicalExamination2Comp patientId="@patientId" />
    <Management2TopComp patientId="@patientId" />
    <TreatmentComp patientId="@patientId" visitNum="@visitNum" />
    <Management2BottomComp patientId="@patientId" />
</div>

@code {
    [Parameter]
    public required string patientId { get; set; }
    private VisitEnum visitNum { get; set; } = VisitEnum.second;
}
