@using Krka.MoveOn.Services.Questionnaires
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Krka.MoveOn.Components.Pages.Components

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject General01Service Q01Service
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager

<div class="nav-buttons-sub-container _EntryBtn">
    <DxFormLayout>
        <DxFormLayoutItem>
            <div class="buttons-group mb-2">
                <div class="d-flex flex-row w-100">
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Detekcia príznakov"
                              CssClass="@GetButtonCssClass("/entryQ/gen")"
                              NavigateUrl="@GetNavigateUrl("/entryQ/gen")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Začiatočná liečba"
                              CssClass="@GetButtonCssClass("/entryQ/init")"
                              NavigateUrl="@GetNavigateUrl("/entryQ/init")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Liečba pridružených problémov"
                              CssClass="@GetButtonCssClass("/entryQ/treat")"
                              NavigateUrl="@GetNavigateUrl("/entryQ/treat")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="MDS-UPDRS škála"
                              CssClass="@GetButtonCssClass("/entryQ/motor")"
                              NavigateUrl="@GetNavigateUrl("/entryQ/motor")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Moca"
                              CssClass="@GetButtonCssClass("/entryQ/moca")"
                              NavigateUrl="@GetNavigateUrl("/entryQ/moca")" />
                    <DxButton RenderStyle="@ButtonRenderStyle.Secondary"
                              RenderStyleMode="@ButtonRenderStyleMode.Outline"
                              Text="Predčasné vylúčenie"
                              CssClass="@GetButtonCssClass("/entryQ/exc")"
                              NavigateUrl="@GetNavigateUrl("/entryQ/exc")" />
                </div>
            </div>
        </DxFormLayoutItem>
    </DxFormLayout>

</div>

<ReturnLinkManager ReturnLink="/patients" />





@code
{
    private string currentId;
    private string currentUrl;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await SessionStorage.GetAsync<string>("currentId");
            if (result.Success && NavigationManager != null)
            {
                currentId = result.Value;
                currentUrl = NavigationManager.Uri; // Získaj aktuálnu URL
                StateHasChanged();
            }
        }
    }

    private string GetNavigateUrl(string baseUrl)
    {
        return $"{baseUrl}/{currentId}";
    }

    private string GetButtonCssClass(string url)
    {
        return currentUrl != null && currentUrl.Contains(url) ? "flex-fill me-2 rectangular-button active-button" : "flex-fill me-2 rectangular-button";
    }
}