@using Krka.MoveOn.Data.Questionnaires
@using Krka.MoveOn.Services
@using Krka.MoveOn.Services.Questionnaires
@using Krka.MoveOn.Components.Pages.Patient.OngoingQuestionnaire.Components
@using Krka.MoveOn.Components.Pages.Components

@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject DrugEffect09Service DrugEffectService
@inject IToastNotificationService ToastService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="d-flex align-items-center custom-toast-background">
    <DxToastProvider Name="Overview"
                     MaxToastCount="3"
                     AnimationType="ToastAnimationType.Slide"
                     HorizontalAlignment="HorizontalAlignment.Right"
                     VerticalAlignment="VerticalEdge.Top"
                     Width="320px" />
</div>


    <DxGrid @ref="drugEffectGrid"
            Data="DrugEffects"
            PageSize="20"
            PagerPosition="GridPagerPosition.Bottom"
            PageSizeSelectorVisible="true"
            PageSizeSelectorItems="@(new int[] { 10, 20, 100 })"
            PageSizeSelectorAllRowsItemVisible="true"
            PagerSwitchToInputBoxButtonCount="10"
            PagerVisibleNumericButtonCount="10"
            KeyFieldName="Id"
            ValidationEnabled="false"
            EditMode="GridEditMode.EditCell"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            TextWrapEnabled="false"
            EditModelSaving="Grid_EditModelSaving"
            HighlightRowOnHover="true"
            FocusedRowEnabled="true"
            >

        <ToolbarTemplate Context="toolbarContext">
            @if (!isReadOnly)
            {
                <ManagementToolbar NewClick="New_Click" SaveClick="Save_Click" CancelClick="Cancel_Click" BatchItemsEnabled="@BatchItemsEnabled" />
            }
        </ToolbarTemplate>

        <Columns>
            <DxGridDataColumn FieldName="De_1" Caption="Učinná látka" Width="" ReadOnly="@isReadOnly" DataRowEditorVisible="@(!isReadOnly)">
                <EditSettings>
                    <DxComboBoxSettings Data="@treat_1_Answer" ValueFieldName="Id" TextFieldName="Name" />
                </EditSettings>
            </DxGridDataColumn>

            <DxGridDataColumn FieldName="De_2" Caption="Dávka (mg)" ReadOnly="@isReadOnly" DataRowEditorVisible="@(!isReadOnly)" />

            <DxGridDataColumn FieldName="De_3" Caption="Nežiaduci účinok" ReadOnly="@isReadOnly" DataRowEditorVisible="@(!isReadOnly)" />

            <DxGridDataColumn FieldName="De_4" Caption="Indikácia" ReadOnly="@isReadOnly" DataRowEditorVisible="@(!isReadOnly)" />

            <DxGridCommandColumn Width="30px" NewButtonVisible="false">

                    <CellDisplayTemplate Context="gridContext">
                        <div class="grid-cell-align-center">
                            @if (!isReadOnly)
                            {
                                <DxButton IconCssClass="grid-icon grid-icon-delete"
                                RenderStyle="ButtonRenderStyle.Link"
                                aria-label="Delete"
                                Click="@(() => drugEffectGrid.ShowRowDeleteConfirmation(gridContext.VisibleIndex))">
                                    <img src="images/delete.svg" width="16" height="16" alt="Vymazať" />
                                </DxButton>
                            }
                        </div>
                    </CellDisplayTemplate>

                    <CellEditTemplate Context="editContext">
                        <div class="grid-cell-align-center">
                            @if (!isReadOnly)
                            {
                                <DxButton Enabled="false"
                                          aria-label="Delete"
                                          CssClass="grid-disabled-button"
                                          IconCssClass="grid-icon grid-icon-delete"
                                          RenderStyle="ButtonRenderStyle.Link" />
                            }
                        </div>
                    </CellEditTemplate>
                
            </DxGridCommandColumn>
        </Columns>     
    </DxGrid>




@code {
    [Parameter]
    public string questionnaireId { get; set; }

    IGrid drugEffectGrid { get; set; }
    public List<Data.Questionnaires.QuestionnaireDrugEffect09> DrugEffects { get; set; }

    List<Data.Dials.DialActiveIngredient> dialActiveIngredient = new();
    List<Data.Dials.DialActiveIngredient> treat_1_Answer = new();



    Dictionary<QuestionnaireDrugEffect09, DataChange> UnsavedChanges { get; } = new();
    bool BatchItemsEnabled => UnsavedChanges.Count > 0 || drugEffectGrid.IsEditing();
    bool isReadOnly = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole("Office"))
        {
            isReadOnly = true;
        }

        DrugEffects = await DrugEffectService.GetQuestionnaireDrugEffect09(questionnaireId);

        dialActiveIngredient = await DrugEffectService.GetDialActiveIngredientAsync();
        treat_1_Answer = dialActiveIngredient.Where(d => d.Type_q == 1).ToList();

    }

    /// <summary>
    /// Notifikacia
    /// </summary>
    private void AddToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Učinná látka bola pridaná",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }

    /// <summary>
    /// Notifikacia
    /// </summary>
    private void ModifyToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Učinná látka bola zmenená",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }


    /// <summary>
    /// Notifikacia
    /// </summary>
    private void DeleteToast()
    {
        ToastService.ShowToast(new ToastOptions
            {
                ProviderName = "Overview",
                Title = "Učinná látka bola odstránená",
                ThemeMode = ToastThemeMode.Saturated,
                RenderStyle = ToastRenderStyle.Success,
            });
    }

    async Task UpdateDataAsync()
    {
        DrugEffects = await DrugEffectService.GetQuestionnaireDrugEffect09(questionnaireId);
        drugEffectGrid.Reload();
    }

    async Task New_Click() => await drugEffectGrid.StartEditNewRowAsync();

    async Task Cancel_Click() => await ClearUnsavedChangesAsync();

    async Task Save_Click()
    {
        foreach (var unsavedChange in UnsavedChanges)
        {
            var changedItem = unsavedChange.Key;
            var changeType = unsavedChange.Value.Type;
            switch (changeType)
            {
                case DataChangeType.Addition:
                    await DrugEffectService.SaveDrugEffectAsync(changedItem);
                    AddToast();
                    break;
                case DataChangeType.Modification:
                    await DrugEffectService.SaveDrugEffectAsync(changedItem);
                    ModifyToast();
                    break;
            }
        }
        await ClearUnsavedChangesAsync();
    }

    async Task ClearUnsavedChangesAsync()
    {
        UnsavedChanges.Clear();
        await UpdateDataAsync();
    }

    void Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var drugEffect = (Data.Questionnaires.QuestionnaireDrugEffect09)e.EditModel;
        var dataItem = (Data.Questionnaires.QuestionnaireDrugEffect09)e.DataItem;
        drugEffect.Questionnaire_id = questionnaireId;
        if (e.IsNew)
        {
            DrugEffects.Add(drugEffect);
            UnsavedChanges[drugEffect] = new(DataChangeType.Addition, new());
        }
        else
        {
            UnsavedChanges[drugEffect] = new(DataChangeType.Modification, new());
        }
    }


    record DataChange(DataChangeType Type, HashSet<string> ChangedFields);
    enum DataChangeType { Modification, Addition, Delete }
}