@using DevExpress.Blazor.Internal
@using Krka.MoveOn.Data.Questionnaires
@using Krka.MoveOn.Services.Questionnaires
@using Krka.MoveOn.Components.Pages.Patient.EntryQuestionnaire.Components

@inject Moca07Service MocaService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastNotificationService ToastService

<EditForm Model="@moca"
            Context="EditFormContext"
            OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <DxFormLayout>
        <DxFormLayoutGroup Caption="Modifikovaná škála podľa Hoehenovej a Yahra" ColSpanMd="12" CaptionCssClass="caption-styleH0" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
            <DxFormLayoutItem Caption="Vyznačte prosím odpoveď, ktorá vyjadruje štádium ochorenia." CaptionPosition="CaptionPosition.Vertical" CaptionCssClass="caption-styleH1">
                <InputRadioGroup @bind-Value="@moca!.Mh_1" class="d-flex flex-wrap">
                    @foreach (var item in mh_1_Answer)
                    {
                        <label class="d-block m-2">
                            <InputRadio class="m-2" Value="@item.Id" required Disabled="@isReadOnly" /> @item.Name
                        </label>
                    }
                </InputRadioGroup>
                <ValidationMessage For="@(() => moca.Mh_1)" />
            </DxFormLayoutItem>
        </DxFormLayoutGroup>

        <DxFormLayoutGroup Caption="Montrealský kognitívny test (MOCA)" ColSpanMd="12" CaptionCssClass="caption-styleH0" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
            <DxFormLayoutGroup Caption="Vizuálno-priestorové schopnosti" ColSpanMd="8" CaptionCssClass="caption-styleH01"> 
                <div class="group-style">
                    <DxFormLayoutItem Caption="Test cesty" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="4">
                        <div style="display: flex; align-items: center;">
                            <DxButton CssClass="info-icon-btn" Click="() => IsInfoOpen = !IsInfoOpen" IconCssClass="grid-toolbar-save" style="margin-right: 8px;">
                                <ChildContent Context="buttonContext">
                                    <img src="images/info.svg" width="16" height="16" alt="Info" />
                                </ChildContent>
                            </DxButton>
                            <DxSpinEdit @bind-Value="@moca!.Moca_1" MinValue="0" MaxValue="1" Disabled="@isReadOnly" />
                        </div>
                        <DxFlyout @bind-IsOpen="@IsInfoOpen"
                                  PositionTarget=".info-icon-btn"
                                  PreventCloseOnPositionTargetClick="true"
                                  Width="240">
                            Min = 0 / Max = 1.
                        </DxFlyout>
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Kocka" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="4">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_2" MinValue="0" MaxValue="1" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_2" MinValue="0" MaxValue="1"  />
                        }
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Hodiny" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="3">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_3" MinValue="0" MaxValue="1" ReadOnly="true"  />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_3" MinValue="0" MaxValue="3"  />
                        }
                    </DxFormLayoutItem>

                    <p class="sum-style">
                        <span style="color: #6e7de8;">@(moca!.Moca_1 + moca.Moca_2 + moca.Moca_3)</span>/5
                    </p>
                </div>
            </DxFormLayoutGroup>

            <DxFormLayoutGroup Caption="Pomenovanie zvierat" ColSpanMd="8" CaptionCssClass="caption-styleH01">
                <div class="group-style">
                    <DxFormLayoutItem Caption="Zvieratá" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="4">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_4" MinValue="0" MaxValue="3" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_4" MinValue="0" MaxValue="3" />
                        }
                    </DxFormLayoutItem>

                    <p class="sum-style">
                        <span style="color: #6e7de8;">@(moca?.Moca_4)</span>/3
                    </p>
                </div>
            </DxFormLayoutGroup>

            <DxFormLayoutGroup Caption="Pozornosť" ColSpanMd="8" CaptionCssClass="caption-styleH01">
                <div class="group-style">
                    <DxFormLayoutItem Caption="Vymenovanie čísel" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="4">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_5" MinValue="0" MaxValue="2" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_5" MinValue="0" MaxValue="2" />
                        }
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Identifikácia písmena" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="4">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_6" MinValue="0" MaxValue="1" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_6" MinValue="0" MaxValue="1" />
                        }
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Odpočítavanie" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="3">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_7" MinValue="0" MaxValue="3" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_7" MinValue="0" MaxValue="3" />
                        }
                    </DxFormLayoutItem>

                    <p class="sum-style">
                        <span style="color: #6e7de8;"> @(moca?.Moca_5 + moca?.Moca_6 + moca?.Moca_7)</span>/5
                    </p>
                </div>
            </DxFormLayoutGroup>

            <DxFormLayoutGroup Caption="Jazyk" ColSpanMd="8" CaptionCssClass="caption-styleH01">
                <div class="group-style">
                    <DxFormLayoutItem Caption="Opakovanie vety" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="6">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_8" MinValue="0" MaxValue="2" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_8" MinValue="0" MaxValue="2" />
                        }
                    </DxFormLayoutItem>

                    <DxFormLayoutItem Caption="Verbálna fluencia" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="5">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_9" MinValue="0" MaxValue="1" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_9" MinValue="0" MaxValue="1" />
                        }
                    </DxFormLayoutItem>                       

                    <p class="sum-style">
                        <span style="color: #6e7de8;">@(moca?.Moca_8 + moca?.Moca_9)</span>/3
                    </p>
                </div>
            </DxFormLayoutGroup>

            <DxFormLayoutGroup Caption="Abstrakcia" ColSpanMd="8" CaptionCssClass="caption-styleH01">
                <div class="group-style">
                    <DxFormLayoutItem Caption="Abstrakcia" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="4">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_10" MinValue="0" MaxValue="3" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_10" MinValue="0" MaxValue="3" />
                        }
                    </DxFormLayoutItem>
                    <p class="sum-style">
                        <span style="color: #6e7de8;">@(moca?.Moca_10)</span>/3
                    </p>
                </div>
            </DxFormLayoutGroup>

            <DxFormLayoutGroup Caption="Vybavovanie slov" ColSpanMd="8" CaptionCssClass="caption-styleH01">
                <div class="group-style">
                    <DxFormLayoutItem Caption="Vybavovanie slov" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="4">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_11" MinValue="0" MaxValue="5" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_11" MinValue="0" MaxValue="5" />
                        }
                    </DxFormLayoutItem>
                    <p class="sum-style">
                        <span style="color: #6e7de8;">@(moca?.Moca_11)</span>/5
                    </p>
                </div>
            </DxFormLayoutGroup>

            <DxFormLayoutGroup Caption="Orientácia" ColSpanMd="8" CaptionCssClass="caption-styleH01">
                <div class="group-style">
                    <DxFormLayoutItem Caption="Orientácia" CaptionPosition="CaptionPosition.Horizontal" CaptionCssClass="caption-styleH1" ColSpanMd="4">
                        @if (isReadOnly)
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_12" MinValue="0" MaxValue="6" ReadOnly="true" />
                        }
                        else
                        {
                            <DxSpinEdit @bind-Value="@moca!.Moca_12" MinValue="0" MaxValue="6" />
                        }
                    </DxFormLayoutItem>
                    <p class="sum-style">
                        <span style="color: #6e7de8;">@(moca?.Moca_12)</span>/6
                    </p>
                </div>
            </DxFormLayoutGroup>

            <div class="group-style">
                <DxFormLayoutItem>
                    <p class="sum-style">
                        Spolu: <span style="color: #6e7de8;">@(moca?.Moca_1 + moca?.Moca_2 + moca?.Moca_3 + moca?.Moca_4 + moca?.Moca_5 + moca?.Moca_6 + moca?.Moca_7 + moca?.Moca_8 + moca?.Moca_9 + moca?.Moca_10 + moca?.Moca_11 + moca?.Moca_12)</span>/30
                    </p>
                </DxFormLayoutItem>
            </div>             
        </DxFormLayoutGroup>

        <DxFormLayoutItem ColSpanMd="12">
            <div style="margin-bottom: 5px;">
                @if (!isReadOnly)
                {
                    <DxButton SubmitFormOnClick="true"
                                Text="Uložiť"
                                RenderStyle="ButtonRenderStyle.Primary" />
                }

                <DxButton SubmitFormOnClick="false"
                            Text="Dalšia záložka"
                            RenderStyle="ButtonRenderStyle.Secondary"
                            NavigateUrl="/entryQ/init" />
            </div>
        </DxFormLayoutItem>
    </DxFormLayout>
</EditForm>

@code {
    [Parameter]
    public string questionnaireId { get; set; }
    bool isReadOnly = false;
    bool IsInfoOpen { get; set; } = false;

    Data.Questionnaires.QuestionnaireMoca07? moca;

    List<Data.Dials.DialMH> dialMH = new();
    List<Data.Dials.DialMH> mh_1_Answer = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole("Office"))
        {
            isReadOnly = true;
        }


        moca = new Data.Questionnaires.QuestionnaireMoca07
        {
            Questionnaire_id = questionnaireId,
            Moca_1 = 0,
            Moca_2 = 0, 
            Moca_3 = 0, 
            Moca_4 = 0, 
            Moca_5 = 0, 
            Moca_6 = 0, 
            Moca_7 = 0, 
            Moca_8 = 0, 
            Moca_9 = 0, 
            Moca_10 = 0, 
            Moca_11 = 0, 
            Moca_12 = 0, 
            CreatedAt = DateTime.Now,
            ModifiedAt = DateTime.Now  
        };

        //DielMh
        dialMH = await MocaService.GetDialMHAsync();
        mh_1_Answer = dialMH.Where(d => d.Type_q == 1).ToList();


        await LoadQuestionnaire(questionnaireId);
    }

    private void AddToast()
    {
        ToastService.ShowToast(new ToastOptions
        {
            ProviderName = "Overview",
            Title = "Detekcia príznakov úspešne uložená",
            ThemeMode = ToastThemeMode.Saturated,
            RenderStyle = ToastRenderStyle.Success,
        });
    }


    private async Task LoadQuestionnaire(string questionnaireId)
    {  
        var questionnaire = await MocaService.GetQuestionnaireMoca07ByQuestionnaireIdAsync(questionnaireId);
        if (questionnaire != null)
        {
            moca = questionnaire;
        }
    }


    private async Task HandleValidSubmit()
    {
        if (!isReadOnly)
        {
            await MocaService.SaveQuestionnaireMoca07Async(moca!);
            AddToast();
        }

    }
}
